@charset "utf-8";

// Set your brand colors
$blue: #34BEED;
$cyan: #34BEED;
$green: #34ED90;
$yellow: #EDD134;
$red: #ED349F;

@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

$family-sans-serif: "Nunito", sans-serif;

@import "bulma.sass";

// Import only what you need from Bulma
@import "sass/utilities/_all.sass";
@import "sass/base/_all.sass";
@import "sass/elements/button.sass";
@import "sass/elements/container.sass";
@import "sass/elements/title.sass";
@import "sass/form/_all.sass";
@import "sass/components/navbar.sass";
@import "sass/layout/hero.sass";
@import "sass/layout/section.sass";