<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Open Shop Channel - About Us</title>
    {% include 'includes/header.html' %}
</head>
<body>
{% include 'includes/navigation.html' %}
{% include 'includes/alert.html' %}
<div class="section">
    <div class="container">
        <h1 class="title">
            About Us
        </h1>
        <p class="subtitle" style="text-align: center">
            <b>Our Story</b>
        </p>
        <p>
            The Open Shop Channel was started in March 2018, with the goal to revive the Wii Shop Channel before its
            planned discontinuation.
            The original plan for the project was to make a Wii Shop Channel replacement,
            But over time, our focus went towards providing a general open source repository of apps, with the Homebrew
            Browser and OSCDL to make use of it, as well as the public and open API later on.
            An additional service was planned called Club Spot, which gave you perks for using the Open Shop Channel.

            What we originally envisioned the Open Shop Channel to be was ambitious. But we keep working on it and
            hoping to share results soon.
        </p>
        <div class="columns">
            <div class="column">
                <p class="subtitle" style="text-align: center">
                    <b>Credits</b>
                </p>
                <p>
                    Below are the people who helped shape the Open Shop Channel open source project to what is is today:
                </p>


                <div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <figure class="image is-48x48">
                                    <img src="/static/images/credits/dhtdht020.png" alt="Profile Picture">
                                </figure>
                            </div>
                            <div class="media-content">
                                <p class="title is-4">dhtdht020</p>
                                <p class="subtitle is-6"><a href="https://twitter.com/dhtdht020">@dhtdht020</a></p>
                            </div>
                        </div>
                        <div class="content">
                            Project Lead. Developer and maintainer of API, OSCDL, and this website.
                        </div>
                    </div>
                </div>


                <div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <figure class="image is-48x48">
                                    <img src="/static/images/credits/Larsenv.png" alt="Profile Picture">
                                </figure>
                            </div>
                            <div class="media-content">
                                <p class="title is-4">Larsenv</p>
                                <p class="subtitle is-6"><a href="https://twitter.com/Larsenv_293">@Larsenv_293</a></p>
                            </div>
                        </div>
                        <div class="content">
                            Project Maintainer. Developer of the Homebrew Browser scripts and general assistance from
                            RiiConnect24.
                        </div>
                    </div>
                </div>


                <div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <figure class="image is-48x48">
                                    <img src="/static/images/credits/Spotlight.png" alt="Profile Picture">
                                </figure>
                            </div>
                            <div class="media-content">
                                <p class="title is-4">Spotlight</p>
                                <p class="subtitle is-6"><a href="https://twitter.com/xibwrangler">@xibwrangler</a></p>
                            </div>
                        </div>
                        <div class="content">
                            Project Maintainer. Researching and working primarily on getting the OSC on the Wii Shop
                            Channel.
                        </div>
                    </div>
                </div>


                <div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <figure class="image is-48x48">
                                    <img src="/static/images/credits/DarkOK.png" alt="Profile Picture">
                                </figure>
                            </div>
                            <div class="media-content">
                                <p class="title is-4">DarkOK</p>
                                <p class="subtitle is-6"><a
                                        href="https://twitter.com/darkphoenix10ok">@darkphoenix10ok</a></p>
                            </div>
                        </div>
                        <div class="content">
                            Project Maintainer. Javascript god and a kind stranger.
                        </div>
                    </div>
                </div>


                <div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <figure class="image is-48x48">
                                    <img src="/static/images/credits/CornierKhan1.png" alt="Profile Picture">
                                </figure>
                            </div>
                            <div class="media-content">
                                <p class="title is-4">CornierKhan1</p>
                                <p class="subtitle is-6"><a href="https://twitter.com/darkphoenix10ok">@CornierKhan1</a>
                                </p>
                            </div>
                        </div>
                        <div class="content">
                            Project Designer. Creates graphics, branding and designs for the Open Shop Channel project.
                        </div>
                    </div>
                </div>


                <div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">...And you!</p>
                            </div>
                        </div>
                        <div class="content">
                            Thank you to all project contributors and donators, which helped us create the Open Shop
                            Channel!
                        </div>
                    </div>
                </div>
            </div>

            <div class="column">
                <p class="subtitle" style="text-align: center">
                    <b>Project Timeline</b>
                    <div class="timeline">
                        <header class="timeline-header">
                            <span class="tag is-medium is-link">2018</span>
                        </header>
                        <div class="timeline-item">
                            <div class="timeline-marker is-image is-32x32"
                                 style="background: none; border: none; border-radius: unset;">
                                <img src="/static/images/oldlogo.png">
                            </div>
                            <div class="timeline-content">
                <p class="heading">March 2018</p>
                <p>
                    The Open Shop Channel project is launched, with the goal to restore functionality of the Wii Shop
                    Channel.
                </p>
            </div>
        </div>
        <div class="timeline-item">
            <div class="timeline-marker is-image is-32x32"
                 style="background: none; border: none; border-radius: unset;">
                <img src="/static/images/hbb-icon.png">
            </div>
            <div class="timeline-content">
                <p class="heading">August 2019</p>
                <p>
                    The Open Shop Channel begins providing a repository to replace the one in the Homebrew Browser,
                    with more up to date applications and a larger variety of content.
                </p>
            </div>
        </div>
        <div class="timeline-item">
            <div class="timeline-marker is-image is-32x32"
                 style="background: none; border: none; border-radius: unset;">
                <img src="/static/images/oscdlicon-small.png">
            </div>
            <div class="timeline-content">
                <p class="heading">April 2020</p>
                <p>
                    Open Shop Channel Downloader, also known as OSCDL, was released.
                    It allows downloading content from the Open Shop Channel on desktop computers,
                    as well as wirelessly send apps to Wii systems on the same network.
                </p>
            </div>
        </div>
        <div class="timeline-item">
            <div class="timeline-marker is-image is-32x32"
                 style="background: none; border: none; border-radius: unset;">
                <img src="/static/images/apipaper.png">
            </div>
            <div class="timeline-content">
                <p class="heading">October 2020</p>
                <p>
                    The public Open Shop Channel API has been released,
                    allowing everyone to make use of Open Shop Channel's services and contents directly,
                    and provide custom services and clients making use of it.
                </p>
            </div>
        </div>
        <div class="timeline-header">
            <span class="tag is-medium is-link">2021</span>
        </div>
    </div>
</div>
</p>

</div>
</section>
</body>
</html>
