<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About - Open Shop Channel</title>
    {% include 'includes/header.html' %}
</head>
<body>
{% include 'includes/navigation.html' %}
{% include 'includes/alert.html' %}
<div class="section">
    <div class="container">
        <h1 class="title">
            About Us
        </h1>
        <p class="subtitle" style="text-align: center">
            <b>Our Story</b>
        </p>
        <p>
            The Open Shop Channel was started in March 2018, with the goal to revive the Wii Shop Channel before its
            planned discontinuation.
            The original plan for the project was to make a Wii Shop Channel replacement,
            But over time, our focus went towards providing a general open source repository of apps, with the Homebrew
            Browser and OSCDL to make use of it, as well as the public and open API later on.
            An additional service was planned called Club Spot, which gave you perks for using the Open Shop Channel.

            What we originally envisioned the Open Shop Channel to be was ambitious. But we keep working on it and
            hoping to share results soon.
        </p>
        <div class="columns">
            <div class="column">
                <p class="subtitle" style="text-align: center">
                    <b>Credits</b>
                </p>
                <p>
                    Below are the people who helped shape the Open Shop Channel open source project to what is is today:
                </p>


                <div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <figure class="image is-48x48">
                                    <img src="/static/images/credits/dhtdht020.png" alt="Profile Picture">
                                </figure>
                            </div>
                            <div class="media-content">
                                <p class="title is-4">dhtdht020</p>
                                <p class="subtitle is-6"><a href="https://twitter.com/dhtdht020">@dhtdht020</a></p>
                            </div>
                        </div>
                        <div class="content">
                            Project Lead. Original developer of the Open Shop Channel API and website. Working alongside
                            the rest of the team in the direction and planning of the project. Also taking part in Wii
                            Shop Channel
                            and backend development, and repository maintenance.
                        </div>
                    </div>
                </div>


                <div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <figure class="image is-48x48">
                                    <img src="/static/images/credits/Spotlight.png" alt="Profile Picture">
                                </figure>
                            </div>
                            <div class="media-content">
                                <p class="title is-4">Spotlight</p>
                                <p class="subtitle is-6"><a href="https://twitter.com/xibwrangler">@xibwrangler</a></p>
                            </div>
                        </div>
                        <div class="content">
                            Project Maintainer. Working on Wii Shop Channel research and development. Also, takes part
                            in
                            development of Danbo Shop Server, the new Open Shop Channel backend.
                        </div>
                    </div>
                </div>


                <div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <figure class="image is-48x48">
                                    <img src="/static/images/credits/DarkOK.png" alt="Profile Picture">
                                </figure>
                            </div>
                            <div class="media-content">
                                <p class="title is-4">DarkOK</p>
                                <p class="subtitle is-6"><a
                                        href="https://twitter.com/darkphoenix10ok">@darkphoenix10ok</a></p>
                            </div>
                        </div>
                        <div class="content">
                            Project Maintainer. JavaScript god and a kind stranger. Working on Wii Shop Channel research
                            and development.
                            Has contributed to the OSC's Homebrew Browser fork.
                        </div>
                    </div>
                </div>


                <div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <figure class="image is-48x48">
                                    <img src="/static/images/credits/ramblecube.png" alt="Profile Picture">
                                </figure>
                            </div>
                            <div class="media-content">
                                <p class="title is-4">ramblecube</p>
                                <p class="subtitle is-6"><a href="https://github.com/ramblecube">@ramblecube</a>
                                </p>
                            </div>
                        </div>
                        <div class="content">
                            Contributor. Works on the Wii Shop Channel. Designed our Wii Shop Channel frontend and
                            offered significant
                            help.
                        </div>
                    </div>
                </div>


                <div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <figure class="image is-48x48">
                                    <img src="/static/images/credits/Larsenv.png" alt="Profile Picture">
                                </figure>
                            </div>
                            <div class="media-content">
                                <p class="title is-4">Larsenv</p>
                                <p class="subtitle is-6"><a href="https://twitter.com/Larsenv_293">@Larsenv_293</a></p>
                            </div>
                        </div>
                        <div class="content">
                            Contributor. Takes care of app updates, and repository maintenance.
                        </div>
                    </div>
                </div>


                <div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <figure class="image is-48x48">
                                    <img src="/static/images/credits/PuppercinoK.png" alt="Profile Picture">
                                </figure>
                            </div>
                            <div class="media-content">
                                <p class="title is-4">Puppercino</p>
                                <p class="subtitle is-6"><a href="https://twitter.com/PuppercinoK">@PuppercinoK</a>
                                </p>
                            </div>
                        </div>
                        <div class="content">
                            Contributor. Created graphics, branding and designs for the Open Shop Channel project.
                        </div>
                    </div>
                </div>


                <div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">...And you!</p>
                            </div>
                        </div>
                        <div class="content">
                            Thank you to all project contributors and donators, which helped us create the Open Shop
                            Channel!
                        </div>
                    </div>
                </div>
            </div>

            <div class="column">
                <p class="subtitle" style="text-align: center">
                    <b>Project Timeline</b>
                <div class="timeline">
                    <header class="timeline-header">
                        <span class="tag is-medium is-link">2018</span>
                    </header>
                    <div class="timeline-item">
                        <div class="timeline-marker is-image is-32x32"
                             style="background: none; border: none; border-radius: unset;">
                            <img src="/static/images/oldlogo.png">
                        </div>
                        <div class="timeline-content">
                            <p class="heading">March 2018</p>
                            <p>
                                The Open Shop Channel project is launched, with the goal to restore functionality of the
                                Wii Shop
                                Channel.
                            </p>
                        </div>
                    </div>
                    <div class="timeline-item">
                        <div class="timeline-marker is-image is-32x32"
                             style="background: none; border: none; border-radius: unset;">
                            <img src="/static/images/hbb-icon.png">
                        </div>
                        <div class="timeline-content">
                            <p class="heading">August 2019</p>
                            <p>
                                The Open Shop Channel begins providing a repository to replace the one in the Homebrew
                                Browser,
                                with more up to date applications and a larger variety of content.
                            </p>
                            <a href="https://wii.guide/assets/files/homebrew_browser_v0.3.9e.zip"
                               class="button is-inverted is-link is-fullwidth">Download Homebrew Browser</a>
                        </div>
                    </div>
                    <div class="timeline-item">
                        <div class="timeline-marker is-image is-32x32"
                             style="background: none; border: none; border-radius: unset;">
                            <img src="/static/images/oscdlicon-small.png">
                        </div>
                        <div class="timeline-content">
                            <p class="heading">April 2020</p>
                            <p>
                                Open Shop Channel Downloader, also known as OSCDL, was released.
                                It allows downloading content from the Open Shop Channel on desktop computers,
                                as well as wirelessly send apps to Wii systems on the same network.
                            </p>
                            <a href="https://github.com/dhtdht020/osc-dl/releases"
                               class="button is-inverted is-link is-fullwidth">Download OSCDL</a>
                        </div>
                    </div>
                    <div class="timeline-item">
                        <div class="timeline-marker is-image is-32x32"
                             style="background: none; border: none; border-radius: unset;">
                            <img src="/static/images/apipaper.png">
                        </div>
                        <div class="timeline-content">
                            <p class="heading">October 2020</p>
                            <p>
                                The public Open Shop Channel API has been released,
                                allowing everyone to make use of Open Shop Channel's services and contents directly,
                                and provide custom services and clients making use of it.
                            </p>
                            <a href="https://docs.oscwii.org/api/"
                               class="button is-inverted is-link is-fullwidth">View Documentation</a>
                        </div>
                    </div>
                    <div class="timeline-item">
                        <div class="timeline-marker is-image is-32x32"
                             style="background: none; border: none; border-radius: unset;">
                            <img src="/static/images/dlbrowsericon.png">
                        </div>
                        <div class="timeline-content">
                            <p class="heading">November 2021</p>
                            <p>
                                The Open Shop Channel release a new online library, making use of its public API to
                                provide a convenient
                                location for users to download content from the Open Shop Channel.
                            </p>
                            <a href="/library"
                               class="button is-inverted is-link is-fullwidth">Go to Library</a>
                        </div>
                    </div>
                    <div class="timeline-header">
                        <span class="tag is-medium is-link">2022</span>
                    </div>
                </div>
            </div>
        </div>

        <p class="subtitle" style="text-align: center">
            <b>Who is Danbo?</b>
        </p>
        <div class="columns">
            <div class="column is-one-quarter">
                <figure class="image">
                    <img src="/static/images/jem-sahagun-danbo.jpg" alt="Danbo on a Yamaha Organ">
                </figure>
            </div>
            <div class="column">
                <p>
                    Danbo is a fictional cardboard character originating from the Kiyohiko Azuma manga
                    series, "Yotsuba&!". We personally love it and have decided to feature it in several pages on this
                    website.
                </p>
                <p>
                    Physical copies of Yotsuba&! can be purchased <a
                        href="https://www.bookdepository.com/author/Kiyohiko-Azuma">here, from the author on Book
                    Depository</a>.
                </p>
                <p>
                    We recommend buying and reading the entire series, it's amazing. Danbo makes an appearance on
                    volumes 5 and 10.
                </p>
                <div class="section">
                    <i>Photo: Danbo on a Yamaha Organ by <a
                            href="https://unsplash.com/@jemsahagun?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Jem
                        Sahagun</a>.</i>
                </div>
            </div>
        </div>

        <div class="notification">
            Website by dhtdht020.
        </div>
        <div class="control">
            <div class="field is-grouped is-grouped-multiline">
                <div class="control">
                    <div class="tags has-addons">
                        <span class="tag is-dark">Website Version</span>
                        <span class="tag is-light">{{ version }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'includes/footer.html' %}
</body>
</html>
