<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>About - Open Shop Channel</title>
    {% include 'includes/retroheader.html' %}
</head>
<body>
{% include 'includes/retronavigation.html' %}
<div class="container">
    <div class="bs-component my-4">
        <h6>APRIL 1ST, 2023 NEWS: WELCOME TO OUR BRAND NEW WEBSITE!</h6>
    </div>
    <h2>Bootstrap theme <a href="https://github.com/kristopolous/BOOTSTRA.386">"BOOTSTRA.386"</a> by <a
            href="https://github.com/kristopolous">chris mckenzie</a> under the following <a href="https://github.com/kristopolous/BOOTSTRA.386/blob/master/LICENSE">license</a>, thank you for making this year's april fools
        possible.</h2>
    <h1>
        About Us
    </h1>
    <h3>Our Story</h3>
    <p>
        The Open Shop Channel was started in March 2018, with the goal to revive the Wii Shop Channel before its
        planned discontinuation.
        The original plan for the project was to make a Wii Shop Channel replacement,
        But over time, our focus went towards providing a general open source repository of apps, with the Homebrew
        Browser and OSCDL to make use of it, as well as the public and open API later on.
        An additional service was planned called Club Spot, which gave you perks for using the Open Shop Channel.

        What we originally envisioned the Open Shop Channel to be was ambitious. But we keep working on it and
        hoping to share results soon.
    </p>
    <h3>Credits</h3>
    <p>
        Below are the people who helped shape the Open Shop Channel open source project to what is is today:
    </p>


    <div class="media">
        <div class="media-content">
            <p class="subtitle is-6"><a href="https://twitter.com/dhtdht020">@dhtdht020</a></p>
        </div>
    </div>
    <div class="content">
        Project Lead. Original developer of the Open Shop Channel API and website. Working alongside
        the rest of the team in the direction and planning of the project. Also taking part in Wii
        Shop Channel
        and backend development, and repository maintenance.
    </div>

    <br>
    <div class="media">
        <div class="media-content">
            <p class="subtitle is-6"><a
                    href="https://twitter.com/darkphoenix10ok">@darkphoenix10ok</a></p>
        </div>
    </div>
    <div class="content">
        Project Maintainer. JavaScript god and a kind stranger. Working on Wii Shop Channel research
        and development.
        Has contributed to the OSC's Homebrew Browser fork.
    </div>

    <br>
    <div class="media">
        <div class="media-content">
            <p class="subtitle is-6"><a href="https://github.com/ramblecube">@ramblecube</a>
            </p>
        </div>
    </div>
    <div class="content">
        Contributor. Works on the Wii Shop Channel. Designed our Wii Shop Channel frontend and
        offered significant
        help.
    </div>

    <br>
    <p class="subtitle is-6"><a href="https://joscomputing.space/">joscomputing.space</a></p>
    <div class="content">
        Former project Maintainer. Worked on Wii Shop Channel research and development. Also, took party in
        development of Danbo Shop Server,
        the new Open Shop Channel backend, as well as SOAP.
    </div>

    <br>
    <p class="subtitle is-6"><a href="https://twitter.com/PuppercinoK">@PuppercinoK</a>
    </p>
    <div class="content">
        Former project maintainer. Created graphics, branding and designs for the Open Shop Channel project.
        Major contributions to SOAP.
    </div>

    <br>
    <p class="subtitle is-6"><a href="https://twitter.com/Larsenv_293">@Larsenv_293</a></p>
    <div class="content">
        Contributor. Regularly takes care of app updates, and repository maintenance.
    </div>

    <br>

    <p class="title is-4">...And you!</p>


    Thank you to all project contributors and donators, which helped us create the Open Shop
    Channel!


    <h3>Who is Danbo?</h3>
    <p>
        Danbo is a fictional cardboard character originating from the Kiyohiko Azuma manga
        series, "Yotsuba&!". We personally love it and have decided to feature it in several pages on this
        website.
    </p>
    <p>
        Physical copies of Yotsuba&! can be purchased <a
            href="https://www.bookdepository.com/author/Kiyohiko-Azuma">here, from the author on Book
        Depository</a>.
    </p>
    <p>
        We recommend buying and reading the entire series, it's amazing. Danbo makes an appearance on
        volumes 5 and 10.
    </p>

    Website by dhtdht020.
    <br><br>
    <h4>Some of the icons and assets on this website are provided by <a href="https://icons8.com/">Icons8</a>.</h4>
    <h4>
        <mark>Website Version: {{ version }}</mark>
    </h4>
</div>
</body>
</html>
{% include 'includes/retrofooter.html' %}
