<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ package["name"] }} - Open Shop Channel</title>
    {% include 'includes/header.html' %}
    <meta property="og:title" content="{{ package["name"] }}">
    <meta property="og:site_name" content="Open Shop Channel">
    <meta property="og:url" content="oscwii.org">
    <meta property="og:description" content="{{ package["description"]["long"] }}">
    <meta property="og:type" content="website">
    <meta property="og:image" content="{{ package["url"]["icon"] }}">
</head>
<body>
{% include 'includes/navigation.html' %}
{% include 'includes/alert.html' %}
<div class="section">
    <div class="container">
        <nav class="breadcrumb has-arrow-separator" aria-label="breadcrumbs">
            <ul>
                <li><b><a href="/library" class="has-text-{{ color }}">Library</a></b></li>
                <li><span class="tag mx-2 is-{{ color }}"><b>{{ package["category"].upper() }}</b></span></li>
                <li class="is-active"><a href="" aria-current="page">{{ package["name"] }}</a></li>
            </ul>
        </nav>
        <div class="notification is-{{ color }} is-bold" style="margin-bottom: 10px;">
            <div class="container" style="margin: unset;">
                <div class="columns is-vcentered">
                    <div class="column">
                        <h1 class="title">
                            {% include "includes/categoryicon.html" %}{{ package["name"] }}
                        </h1>
                        <h2 class="subtitle">
                            Homebrew application created by <u><b>
                            <a href="/library?coder={{ package["author"] }}">{{ package["author"] }}</a></b></u>
                        </h2>
                    </div>
                    <div class="column is-one-fifth" style="width: unset;">
                        <img src="{{ package["url"]["icon"] }}" style="vertical-align: middle;"
                             alt="Icon for {{ package["name"] }}">
                    </div>
                </div>
            </div>
        </div>
        <div id="content"></div>
        <script type="text/javascript" charset="utf-8">
            toolbar = webix.ui({
                margin: 10,
                container: "content",
                responsive: true,
                rows: [
                    {
                        view: "toolbar",
                        borderless: true,
                        responsive: true,
                        cols: [
                            {
                                view: "label",
                                label: "Hello! Interested in seeing how Open Shop Channel obtains and distributes this application? Press \"View Manifest\"!",
                                hidden: ($(window).width() < 1380),
                            },
                            {
                                hidden: !($(window).width() < 1380)
                            },
                            {
                                view: "button",
                                id: "view_manifest",
                                label: '<i class="fas fa-file-contract" aria-hidden="true"></i> View Manifest',
                                tooltip: "View app manifest on GitHub",
                                css: "webix_primary",
                                click: function () {
                                    window.open("https://github.com/OpenShopChannel/Apps/blob/master/contents/" + encodeURIComponent("{{ package["slug"] }}") + ".oscmeta", '_blank');
                                },
                                width: 145
                            },
                            {
                                view: "button",
                                id: "report_outdated",
                                label: '<i class="fas fa-stopwatch" aria-hidden="true"></i> Report Outdated',
                                tooltip: "Report this application as outdated. Requires a GitHub account.",
                                css: "webix_danger",
                                click: function () {
                                    window.open("https://github.com/OpenShopChannel/outdated-apps/issues/new?template=outdated.yml&current-version=" + encodeURIComponent("{{ package["version"] }}") + "&title=" + encodeURIComponent("{{ package["name"] }}"), '_blank');
                                },
                                width: 160
                            },
                            {
                                view: "template",
                                id: "danbo_icon",
                                css: "danbo_icon",
                                hidden: ($(window).width() < 480),
                                template: "<picture><source srcset='/static/images/danbobar-dark.png' media='(prefers-color-scheme: dark)'> <img src='/static/images/danbobar-light.png'></picture>",
                                width: 140,
                                borderless: true
                            },
                        ]
                    }
                ]
            });
            webix.event(window, "resize", function () {
                toolbar.adjust();
            })
        </script>
        <div class="columns" style="padding-top: 10px;">
            <div class="column is-one-third">
                <article class="message is-{{ color }}">
                    <div class="message-body">
                        <div class="columns is-vcentered is-centered">
                            <div class="column">
                                <b class="subtitle">
                                    {% include "includes/categoryicon.html" %}{{ package["category"].title() }}</b>
                            </div>
                        </div>
                    </div>
                </article>

                <article class="message is-{{ color }}">
                    <div class="message-header">
                        <p><i class="fas fa-info fa-fw" aria-hidden="true"></i> Information </p>
                    </div>
                    <div class="message-body">
                        <p><b><i class="fas fa-wrench fa-fw" aria-hidden="true"></i>
                            Version:</b> {{ package["version"] }}</p>
                        {% if package["release_date"] != 0 %}
                        <p><b><i class="fas fa-calendar-alt fa-fw" aria-hidden="true"></i> Release
                            Date:</b> {{ package["release_date_formatted"] }}</p>
                        {% endif %}
                        <p><b><i class="fas fa-sd-card fa-fw" aria-hidden="true"></i> App
                            Size:</b> {{ file_size(package["file_size"]["zip_uncompressed"]) }}</p>
                        <p><b><i class="fas fa-id-card fa-fw" aria-hidden="true"></i>
                            Developer{% if "," in package["author"] %}s{% endif %}:</b> <a
                                href="/library?coder={{ package["author"] }}">{{ package["author"] }}</a>
                        </p>
                    </div>
                </article>
                <article class="message is-{{ color }}">
                    <div class="message-header">
                        <p><i class="fas fa-gamepad fa-fw" aria-hidden="true"></i> Peripherals</p>
                    </div>
                    <div class="message-body">
                        {% include 'includes/peripherals.html' %}
                    </div>
                </article>
                {% if application_badges(package) %}
                <article class="message is-{{ color }} is-hidden-mobile">
                    <div class="message-header">
                        <p><i class="fas fa-award fa-fw" aria-hidden="true"></i> Badges</p>
                    </div>
                    <div class="message-body">
                        <div class="columns is-multiline">
                            {% for badge, title in application_badges(package).items() %}
                                <div class="column is-one-quarter has-tooltip-bottom" data-tooltip="{{ title }}">
                                    <img src="/static/images/badges/{{ badge }}.png" alt="{{ title }}">
                                </div>
                            {% endfor %}
                        </div>
                        <small>How are badges awarded? Find out <a href="{{ url_for("help", article="badges") }}">here</a>.</small>
                    </div>
                </article>
                {% endif %}
                <article class="message is-{{ color }}">
                    <div class="message-header">
                        <p><i class="fas fa-gamepad fa-share-alt" aria-hidden="true"></i> Share</p>
                    </div>
                    <div class="message-body">
                        <b><i class="fas fa-info fa-link" aria-hidden="true"></i> Application link:</b>
                        <input class="input is-{{ color }}" type="text" readonly
                               value="https://oscwii.org{{ request.path }}">
                        <b><i class="fas fa-info fa-link mt-3" aria-hidden="true"></i> Author link:</b>
                        <input class="input is-{{ color }}" type="text" readonly
                               value="https://oscwii.org/library?coder={{ package.author }}">
                        <b><i class="fas fa-info fa-share mt-3" aria-hidden="true"></i> Social media:</b><br>
                        <a class="button is-{{ color }}"
                           href="https://twitter.com/intent/tweet?text={{ package["name"] }} on Open Shop Channel: https://oscwii.org{{ request.path }} @openshopwii">
                            <span class="icon">
                                <i class="fab fa-twitter"></i>
                            </span>
                            <span>Twitter</span>
                        </a>
                    </div>
                </article>
            </div>

            <div class="column">
                <div class="divider is-left">Description</div>
                {% if package["description"]["short"] == package["description"]["long"] %}
                    <div id="description"></div>
                {% else %}
                    <b style="margin-bottom: 1.5rem">{{ package["description"]["short"] }}</b>
                    <div id="description"></div>
                {% endif %}
                <script type="text/javascript" charset="utf-8">
                    let loading = webix.ui({
                        container: "description",
                        borderless: true,
                        id: "loading",
                        view: "template",
                        type: "clean",
                        autoheight: true,
                        template: "<i class='fas fa-spinner fa-spin'></i> Loading description...",
                    });
                    webix.event(window, "resize", function(){ loading.adjust(); })

                    webix.ready(function () {
                        webix.ajax().get("https://hbb1.oscwii.org/unzipped_apps/{{ package["slug"] }}/apps/{{ package["slug"] }}/meta.xml", function (text) {
                            // we will remove html comments, because it breaks the dom parser
                            text = text.replace(/<!--[\s\S]*?-->/g, '');
                            try {
                                var parser = new DOMParser();
                                var xml = parser.parseFromString(text, "text/xml");
                                var description = xml.getElementsByTagName("long_description")[0].childNodes[0].nodeValue;
                            }
                            catch (e) {
                                var description = "{{ package["long_description"] }}";
                            }
                            webix.ui({
                                container: "description",
                                borderless: true,
                                id: "description_container",
                                view: "template",
                                type: "clean",
                                autoheight: true,
                                template: "<span>" + description.replace(/\n/g, "<br>") + "</span>",
                                on: {
                                    onAfterRender: function () {
                                        $$("loading").hide();
                                    }
                                }
                            });

                            webix.event(window, "resize", function(){ $$("description_container").adjust(); })
                        });
                    });
                </script>

                <div class="divider is-left">Recommended Download</div>

                <div class="card mb-4">
                    <header class="card-header">
                        <p class="card-header-title">
                            <i class="fas fa-file-archive fa-fw" aria-hidden="true"
                               style="margin-right: 5px"></i>{{ package["name"] }} (.ZIP)
                        </p>
                        <span style="float: right" class="card-header-icon">
          <span class="tag is-{{ color }}">{{ file_size(package["file_size"]["zip_compressed"]) }}</span>
      </span>
                    </header>
                    <div class="card-content">
                        <div class="content">
                            A zip file containing the application.
                        </div>
                    </div>
                    <footer class="card-footer">
                        <a href="{{ package["url"]["zip"] }}" class="card-footer-item has-text-{{ color }}"><i class="fas fa-download fa-fw"
                                                                                       aria-hidden="true"
                                                                                       style="margin-right: 5px"></i>Download
                            File</a>
                    </footer>
                </div>

                <div>
                    <div class="divider is-left">Other Download Options</div>
                </div>

                <div class="card mb-4 is-{{ color }}">
                    <header class="card-header">
                        <p class="card-header-title">
                            <i class="fas fa-terminal fa-fw" aria-hidden="true"
                               style="margin-right: 5px"></i>{{ package["name"] }}
                            (boot.{{ package["package_type"] }})
                        </p>
                    </header>
                    <div class="card-content">
                        <div class="content">
                            The application's binary.
                        </div>
                    </div>
                    <footer class="card-footer">
                        <a href="https://hbb1.oscwii.org/unzipped_apps/{{ package["slug"] }}/apps/{{ package["slug"] }}/boot.{{ package["package_type"] }}"
                           class="card-footer-item has-text-{{ color }}"><i class="fas fa-download fa-fw" aria-hidden="true"
                                                       style="margin-right: 5px"></i>Download File</a>
                    </footer>
                </div>


                <div class="card mb-4">
                    <header class="card-header">
                        <p class="card-header-title">
                            <i class="fas fa-file-signature fa-fw" aria-hidden="true" style="margin-right: 5px"></i>Metadata
                            file
                            for {{ package["name"] }}
                        </p>
                    </header>
                    <div class="card-content">
                        <div class="content">
                            The original application meta.xml file, containing information specified by the
                            developer such as
                            version, coder, and description.
                        </div>
                    </div>
                    <footer class="card-footer">
                        <a href="https://hbb1.oscwii.org/unzipped_apps/{{ package["slug"] }}/apps/{{ package["slug"] }}/meta.xml"
                           class="card-footer-item has-text-{{ color }}">View File</a>
                    </footer>
                </div>


            </div>
        </div>
    </div>
</div>
{% include 'includes/footer.html' %}
</body>
</html>

