<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ package["display_name"] }} - Open Shop Channel</title>
    {% include 'includes/retroheader.html' %}
    <meta property="og:title" content="{{ package["display_name"] }}">
    <meta property="og:site_name" content="Open Shop Channel">
    <meta property="og:url" content="oscwii.org">
    <meta property="og:description" content="{{ package["long_description"] }}">
    <meta property="og:type" content="website">
    <meta property="og:image" content="{{ package["icon_url"] }}">
</head>
<body>
{% include 'includes/retronavigation.html' %}
<div class="container">
    <div class="bs-component my-4">
        <h6>APRIL 1ST, 2023 NEWS: WELCOME TO OUR BRAND NEW WEBSITE!</h6>
    </div>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/library">Library</a></li>
        <li class="breadcrumb-item"><a href="" aria-current="page">{{ package["display_name"] }}</a></li>
    </ol>
    <div class="container">
        <div class="row">
            <div class="col-3" style="width: unset;">
                <img src="{{ package["icon_url"] }}" style="margin: 10px;"
                     alt="Icon for {{ package["display_name"] }}">
            </div>
            <div class="col-9">
                <h1>
                    <mark>[{{ package["category"].upper() }}]</mark>
                    {{ package["display_name"] }}
                </h1>
                <h2>
                    A homebrew {% if package["package_type"] != "thm" %}application{% else %}
                    theme{% endif %}
                    created by <u><b><a
                        href="/library?coder={{ package["coder"] }}&repo={{ repo }}">{{ package["coder"] }}</a></b></u>
                </h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <div class="card text-white bg-primary mb-3">
                <div class="card-header bg-success">Catalog Category</div>
                <div class="card-body">
                    <b class="subtitle">
                        {{ package["category"].title() }}
                    </b>
                </div>
            </div>
            <div class="card text-white bg-primary mb-3">
                <div class="card-header bg-success">Information</div>
                <div class="card-body">
                    <p>Version: {{ package["version"] }}</p>
                    <p>Release Date: {{ package["release_date_formatted"] }}</p>
                    <p>App Size: {{ file_size(package["extracted"]) }}</p>
                    <p>Developer{% if "," in package["coder"] %}s{% endif %}: <a
                            href="/library?coder={{ package["coder"] }}&repo={{ repo }}">{{ package["coder"] }}</a>
                    </p>
                </div>
            </div>
            <div class="card text-white bg-primary mb-3">
                <div class="card-header bg-success">Peripherals</div>
                <div class="card-body">
                    {% include 'includes/peripherals.html' %}
                </div>
            </div>


            {% if application_badges(package) %}
                <div class="card text-white bg-primary mb-3">
                    <div class="card-header bg-success">Badges</div>
                    <div class="card-body">
                        {% for badge, title in application_badges(package).items() %}
                            <p><b>{{ title }}</b></p>
                        {% endfor %}
                        How are badges awarded? Find out <a
                            href="{{ url_for("help", article="badges") }}">here</a>.
                    </div>
                </div>
            {% endif %}

            <div class="card text-white bg-primary mb-3">
                <div class="card-header bg-success">Share</div>
                <div class="card-body">
                    <b>Application link:</b>
                    <input class="form-control" type="text" readonly
                           value="https://oscwii.org{{ request.path }}"><br>
                    <b>Author link:</b>
                    <input class="form-control" type="text" readonly
                           value="https://oscwii.org/library?coder={{ package.coder }}&repo={{ repo }}"><br>
                    <b>Social media:</b><br>
                    <a class="btn btn-info"
                       href="https://twitter.com/intent/tweet?text={{ package["display_name"] }} on Open Shop Channel: https://oscwii.org{{ request.path }} @openshopwii">
                        <span>Twitter</span>
                    </a>
                </div>
            </div>

        </div>

        <div class="col-9">
            <h3 class="divider is-left">Description</h3>
            {% if package["short_description"] == package["long_description"] %}
                <div id="description"></div>
            {% else %}
                <h4>{{ package["short_description"] }}</h4>
                <div id="description"></div>
            {% endif %}
            <script type="text/javascript" charset="utf-8">
                let loading = webix.ui({
                    container: "description",
                    borderless: true,
                    id: "loading",
                    view: "template",
                    type: "clean",
                    autoheight: true,
                    template: "<i class='fas fa-spinner fa-spin'></i> Loading description...",
                });
                webix.event(window, "resize", function () {
                    loading.adjust();
                })

                webix.ready(function () {
                    webix.ajax().get("https://{{ host }}/unzipped_apps/{{ package["internal_name"] }}/apps/{{ package["internal_name"] }}/meta.xml", function (text) {
                        // we will remove html comments, because it breaks the dom parser
                        text = text.replace(/<!--[\s\S]*?-->/g, '');
                        try {
                            var parser = new DOMParser();
                            var xml = parser.parseFromString(text, "text/xml");
                            var description = xml.getElementsByTagName("long_description")[0].childNodes[0].nodeValue;
                        } catch (e) {
                            var description = "{{ package["long_description"] }}";
                        }
                        webix.ui({
                            container: "description",
                            borderless: true,
                            id: "description_container",
                            view: "template",
                            type: "clean",
                            autoheight: true,
                            template: "<span>" + description.replace(/\n/g, "<br>") + "</span>",
                            on: {
                                onAfterRender: function () {
                                    $$("loading").hide();
                                }
                            }
                        });

                        webix.event(window, "resize", function () {
                            $$("description_container").adjust();
                        })
                    });
                });
            </script>

            <h3>Recommended Download</h3>

            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">{{ package["display_name"] }} (.ZIP)</h4>
                    <h6 class="card-subtitle mb-2 text-muted">{{ file_size(package["zip_size"]) }}</h6>
                    <p class="card-text">A zip file containing the application.</p>
                    <a href="{{ package["zip_url"] }}" class="btn btn-outline-danger">Download File</a>
                </div>
            </div>

            <h3 class="divider is-left">Other Download Options</h3>

            {% if package["package_type"] != "thm" %}
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">{{ package["display_name"] }} (boot.{{ package["package_type"] }})</h4>
                        <p class="card-text">The application's binary.</p>
                        <a href="https://{{ host }}/unzipped_apps/{{ package["internal_name"] }}/apps/{{ package["internal_name"] }}/boot.{{ package["package_type"] }}"
                           class="btn btn-outline-danger">Download File</a>
                    </div>
                </div>
            {% endif %}
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Metadata file for {{ package["display_name"] }}</h4>
                    <p class="card-text">The original application meta.xml file, containing information specified by the
                        developer such as version, coder, and description.</p>
                    <a href="https://{{ host }}/unzipped_apps/{{ package["internal_name"] }}/apps/{{ package["internal_name"] }}/meta.xml"
                       class="btn btn-outline-warning">View File</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
{% include 'includes/retrofooter.html' %}
