<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ package["display_name"] }} - Open Shop Channel</title>
    {% include 'includes/header.html' %}
    <meta property="og:title" content="{{ package["display_name"] }}">
    <meta property="og:site_name" content="Open Shop Channel">
    <meta property="og:url" content="oscwii.org">
    <meta property="og:description" content="{{ package["long_description"] }}">
    <meta property="og:type" content="website">
    <meta property="og:image" content="{{ package["icon_url"] }}">
</head>
<body>
{% include 'includes/navigation.html' %}
{% include 'includes/alert.html' %}
<div class="section">
    <div class="container">
        <nav class="breadcrumb has-arrow-separator" aria-label="breadcrumbs">
            <ul>
                <li><a href="/library">Library</a></li>
                <li class="is-active"><a href="" aria-current="page">{{ package["display_name"] }}</a></li>
            </ul>
        </nav>
        <div class="notification is-success hero is-bold" style="margin-bottom: 10px;">
            <div class="container" style="margin: unset;">
                <div class="columns is-vcentered">
                    <div class="column">
                        <h1 class="title">
                            {% include "includes/categoryicon.html" %}{{ package["display_name"] }}
                        </h1>
                        <h2 class="subtitle">
                            A homebrew {% if package["package_type"] != "thm" %}application{% else %}
                            theme{% endif %}
                            created by <u><b><a
                                href="/library?coder={{ package["coder"] }}&repo={{ repo }}">{{ package["coder"] }}</a></b></u>
                        </h2>
                    </div>
                    <div class="column is-one-fifth" style="width: unset;">
                        <img src="{{ package["icon_url"] }}" style="vertical-align: middle;"
                             alt="Icon for {{ package["display_name"] }}">
                    </div>
                </div>
            </div>
        </div>
        <div id="content"></div>
        <script type="text/javascript" charset="utf-8">
                webix.ui({
                    margin: 10,
                    hidden: ($(window).width() < 480),
                    container: "content",
                    responsive: true,
                    rows: [
                        {
                            view: "toolbar",
                            borderless: false,
                            responsive: true,
                            cols: [
                                {},
                                {
                                    view: "button",
                                    id: "category",
                                    label: '<i class="fas fa-stopwatch" aria-hidden="true"></i> Report Outdated',
                                    tooltip: "Report this application as outdated. Requires a GitHub account.",
                                    css: "webix_danger",
                                    click: function () {
                                        window.open("https://github.com/OpenShopChannel/outdated-apps/issues/new?template=outdated.yml&current-version=" + encodeURIComponent("{{ package["version"] }}") + "&title=" + encodeURIComponent("{{ package["display_name"] }}"), '_blank');
                                    },
                                    width: 160
                                },
                                {
                                    view: "template",
                                    id: "danbo_icon",
                                    css: "danbo_icon",
                                    hidden: ($(window).width() < 480),
                                    template: "<picture><source srcset='/static/images/danbobar-dark.png' media='(prefers-color-scheme: dark)'> <img src='/static/images/danbobar-light.png'></picture>",
                                    width: 140,
                                    borderless: true
                                },
                            ]
                        }
                    ]
                });
        </script>
        <div class="columns" style="padding-top: 10px;">
            <div class="column is-one-third">
                <article class="message is-success">
                    <div class="message-body">
                        <div class="columns is-vcentered is-centered">
                            <div class="column">
                                <b class="subtitle">
                                    {% include "includes/categoryicon.html" %}{{ package["category"].title() }}</b>
                            </div>
                        </div>
                    </div>
                </article>

                <article class="message is-success">
                    <div class="message-header">
                        <p><i class="fas fa-info fa-fw" aria-hidden="true"></i> Metadata </p>
                    </div>
                    <div class="message-body">
                        <p><b><i class="fas fa-wrench fa-fw" aria-hidden="true"></i>
                            Version:</b> {{ package["version"] }}</p>
                        <p><b><i class="fas fa-calendar-alt fa-fw" aria-hidden="true"></i> Release
                            Date:</b> {{ package["release_date_formatted"] }}</p>
                        <p><b><i class="fas fa-sd-card fa-fw" aria-hidden="true"></i> App
                            Size:</b> {{ file_size(package["extracted"]) }}</p>
                        <p><b><i class="fas fa-id-card fa-fw" aria-hidden="true"></i>
                            Developer{% if "," in package["coder"] %}s{% endif %}:</b> <a
                                href="/library?coder={{ package["coder"] }}&repo={{ repo }}">{{ package["coder"] }}</a>
                        </p>
                    </div>
                </article>
                <article class="message is-success">
                    <div class="message-header">
                        <p><i class="fas fa-gamepad fa-fw" aria-hidden="true"></i> Peripherals</p>
                    </div>
                    <div class="message-body">
                        {% include 'includes/peripherals.html' %}
                    </div>
                </article>
                <article class="message is-success">
                    <div class="message-header">
                        <p><i class="fas fa-gamepad fa-share-alt" aria-hidden="true"></i> Share</p>
                    </div>
                    <div class="message-body">
                        <b><i class="fas fa-info fa-link" aria-hidden="true"></i> Application link:</b>
                        <input class="input is-success" type="text" readonly
                               value="https://oscwii.org{{ request.path }}">
                        <b><i class="fas fa-info fa-link mt-3" aria-hidden="true"></i> Author link:</b>
                        <input class="input is-success" type="text" readonly
                               value="https://oscwii.org/library?coder={{ package.coder }}&repo={{ repo }}">
                        <b><i class="fas fa-info fa-share mt-3" aria-hidden="true"></i> Social media:</b><br>
                        <a class="button is-link" href="https://twitter.com/intent/tweet?text={{ package["display_name"] }} on Open Shop Channel: https://oscwii.org{{ request.path }} @openshopwii">
                            <span class="icon">
                                <i class="fab fa-twitter"></i>
                            </span>
                            <span>Twitter</span>
                        </a>
                    </div>
                </article>
            </div>

            <div class="column">
                <div class="divider is-left">Description</div>
                {% if package["short_description"] == package["long_description"] %}
                    <p style="margin-bottom: 1.5rem">{{ package["long_description"] }}</p>
                {% else %}
                    <b style="margin-bottom: 1.5rem">{{ package["short_description"] }}</b>
                    <p style="margin-bottom: 1.5rem">{{ package["long_description"] }}</p>
                {% endif %}

                <div class="divider is-left">Recommended Download</div>

                <div class="card mb-4">
                    <header class="card-header">
                        <p class="card-header-title">
                            <i class="fas fa-file-archive fa-fw" aria-hidden="true"
                               style="margin-right: 5px"></i>{{ package["display_name"] }} (.ZIP)
                        </p>
                        <span style="float: right" class="card-header-icon">
          <span class="tag is-link">{{ file_size(package["zip_size"]) }}</span>
      </span>
                    </header>
                    <div class="card-content">
                        <div class="content">
                            A zip file containing the application.
                        </div>
                    </div>
                    <footer class="card-footer">
                        <a href="{{ package["zip_url"] }}" class="card-footer-item"><i class="fas fa-download fa-fw"
                                                                                       aria-hidden="true"
                                                                                       style="margin-right: 5px"></i>Download
                            File</a>
                    </footer>
                </div>

                <div>
                    <div class="divider is-left">Other Download Options</div>
                </div>

                {% if package["package_type"] != "thm" %}
                    <div class="card mb-4 is-success">
                        <header class="card-header">
                            <p class="card-header-title">
                                <i class="fas fa-terminal fa-fw" aria-hidden="true"
                                   style="margin-right: 5px"></i>{{ package["display_name"] }}
                                (boot.{{ package["package_type"] }})
                            </p>
                        </header>
                        <div class="card-content">
                            <div class="content">
                                The application's binary.
                            </div>
                        </div>
                        <footer class="card-footer">
                            <a href="https://{{ host }}/unzipped_apps/{{ package["internal_name"] }}/apps/{{ package["internal_name"] }}/boot.{{ package["package_type"] }}"
                               class="card-footer-item"><i class="fas fa-download fa-fw" aria-hidden="true"
                                                           style="margin-right: 5px"></i>Download File</a>
                        </footer>
                    </div>
                {% endif %}


                <div class="card mb-4">
                    <header class="card-header">
                        <p class="card-header-title">
                            <i class="fas fa-file-signature fa-fw" aria-hidden="true" style="margin-right: 5px"></i>Metadata file
                            for {{ package["display_name"] }}
                        </p>
                    </header>
                    <div class="card-content">
                        <div class="content">
                            The original application meta.xml file, containing information specified by the
                            developer such as
                            version, coder, and description.
                        </div>
                    </div>
                    <footer class="card-footer">
                        <a href="https://{{ host }}/unzipped_apps/{{ package["internal_name"] }}/apps/{{ package["internal_name"] }}/meta.xml"
                           class="card-footer-item">View File</a>
                    </footer>
                </div>


            </div>
        </div>
    </div>
</div>
{% include 'includes/footer.html' %}
</body>
</html>

