<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Donate - Open Shop Channel</title>
    {% include 'includes/header.html' %}
</head>
<body>
{% include 'includes/navigation.html' %}
{% include 'includes/alert.html' %}
<section class="section">
    <div class="container">
        <h1 class="title">
            Donations
        </h1>

        <p>
            We accept donations to be able to fund the upkeep costs of the Open Shop Channel open source projects, and
            dedicate more time to it.
            We appreciate every donation and patron, who take an active part in keeping the project running.
            You can donate at our Patreon, right here:
        </p>

        <div class="buttons is-centered">
            <a class="button is-link is-danger is-large" style="background-color: #F96854; color:white; margin-top: 12px;"
               href="https://discord.gg/by6mR5N">
                Donate through Patreon
            </a>
        </div>


        <h2 class="subtitle">
            Tier 3 Patrons
        </h2>
        <div class="columns">
            <div class="column">
                <div class="card">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <figure class="image is-48x48">
                                    <img src="https://bulma.io/images/placeholders/128x128.png" alt="Placeholder image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <p class="title is-4">A Tier 3 Patron</p>
                                <p class="subtitle is-6">@CouldBeYou</p>
                            </div>
                        </div>

                        <div class="content">
                            This card is reserved for a Tier 3 Patron! You get space for a short custom text and up to 3
                            social media links!
                        </div>
                    </div>
                    <footer class="card-footer">
                        <a href="/donate" class="card-footer-item">Twitter</a>
                        <a href="/donate" class="card-footer-item">YouTube</a>
                        <a href="/donate" class="card-footer-item">GitHub</a>
                    </footer>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <figure class="image is-48x48">
                                    <img src="https://bulma.io/images/placeholders/128x128.png" alt="Placeholder image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <p class="title is-4">A Tier 3 Patron</p>
                                <p class="subtitle is-6">@CouldBeYou</p>
                            </div>
                        </div>

                        <div class="content">
                            This card is reserved for a Tier 3 Patron! You get space for a short custom text and up to 3
                            social media links!
                        </div>
                    </div>
                    <footer class="card-footer">
                        <a href="/donate" class="card-footer-item">Twitter</a>
                        <a href="/donate" class="card-footer-item">YouTube</a>
                        <a href="/donate" class="card-footer-item">GitHub</a>
                    </footer>
                </div>
            </div>
        </div>

        <h2 class="subtitle">
            Donators
        </h2>
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Pledging Since</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>Eilon007</th>
                <th>January 20th 2021, $2 a month.</th>
            </tr>
            <tr>
                <th>enthusiasticGeek</th>
                <th>One-Time Donation, 2018.</th>
            </tr>
            <tr>
                <th>Lukas</th>
                <th>One-Time Donation, 2018.</th>
            </tr>
            </tbody>
        </table>


    </div>
</section>
{% include 'includes/footer.html' %}
</body>
</html>
