<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Donate - Open Shop Channel</title>
    {% include 'includes/retroheader.html' %}
    <meta name="robots" content="noindex">
</head>
<body>
{% include 'includes/retronavigation.html' %}
<div class="container">
    <div class="bs-component my-4">
        <h6>APRIL 1ST, 2023 NEWS: WELCOME TO OUR BRAND NEW WEBSITE!</h6>
    </div>
    <h1>
        Donations
    </h1>

    <p>
        We accept donations to be able to fund the upkeep costs of the Open Shop Channel open source projects, and
        dedicate more time to it.
        We appreciate every donation and patron, who take an active part in keeping the project running.
        You can donate through Open Collective (Recommended!) or at our Patreon, right here:
    </p>

    <a type="button" href="https://opencollective.com/OpenShopChannel/contribute" target="_blank"
       class="btn btn-outline-info">Donate through Open Collective</a>
    <a type="button" href="https://patreon.com/openshopchannel" class="btn btn-outline-danger">Donate through
        Patreon</a>

    <h2 style="text-align: center">
        Donators
    </h2>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Pledging Since</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>CuteCatGirl</th>
            <th class="text-muted">August 29th, 2022, $5 a month. Thank you so much!</th>
        </tr>
        <tr>
            <th>Eilon007</th>
            <th class="text-muted">January 20th 2021, $2 a month. Thank you so much!</th>
        </tr>
        <tr>
            <th>enthusiasticGeek</th>
            <th class="text-muted">One-Time Donation, 2018. Thank you so much!</th>
        </tr>
        <tr>
            <th>Fawe</th>
            <th class="text-muted">May 11th, 2021, $2 a month. Thank you so much!</th>
        </tr>
        <tr>
            <th>Lukas</th>
            <th class="text-muted">One-Time Donation, 2018. Thank you so much!</th>
        </tr>
        <tr>
            <th>Silverforst208</th>
            <th class="text-muted">Long time patron of $2 a month. We appreciate your support a lot!</th>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>
{% include 'includes/retrofooter.html' %}
