<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FAQ - Open Shop Channel</title>
    {% include 'includes/header.html' %}
</head>
<body>
{% include 'includes/navigation.html' %}
{% include 'includes/alert.html' %}
<div class="section">
    <div class="container">
        <h1 class="title">
            Frequently Asked Questions
        </h1>
        <p>Below are answers for several questions we get asked frequently, to save you time:</p>
        <p class="subtitle" style="margin-bottom: unset; margin-top: 1.5rem">
            <b>I am an app developer, where do I submit an app or an update?</b>
        </p>
        <p>
            Click the Publish button at the top right of this website to send an update or a new app for moderation. You
            should normally get an email response within 24 hours. Please make sure to update the meta.xml file with the
            new version number or release date.
        </p>

        <p class="subtitle" style="margin-bottom: unset; margin-top: 1.5rem">
            <b>The Homebrew Browser feels slow and buggy. What are my alternatives?</b>
        </p>
        <p>
            <b>We recommend using OSCDL, a desktop program which downloads and sends homebrew apps directly to your Wii,
            over the network. <a href="">Get it here!</a></b>
        </p>
        <p>
            The Open Shop Channel also partnered with external teams with experience in developing homebrew, to create
            an official alternative. Additionally, the Open Shop Channel has a public API. If you are interested in
            creating your own alternative, we will be happy to see it.
        </p>

        <p class="subtitle" style="margin-bottom: unset; margin-top: 1.5rem">
            <b>Why do I get "error -6" on the Homebrew Browser?</b>
        </p>
        <p>
            If you get an error with the number "-6", it's likely that <b>your Wii is not properly connected to the
            internet.</b> Please <b>go to System Settings and perform a connection test.</b> (Don't update when
            prompted!)
        </p>

        <p class="subtitle" style="margin-bottom: unset; margin-top: 1.5rem">
            <b>Can I use the Homebrew Browser without an SD card?</b>
        </p>
        <p>
            No, you cannot use the Homebrew Browser without an SD card, and it cannot be used on a USB flash drive.
        </p>

        <p class="subtitle" style="margin-bottom: unset; margin-top: 1.5rem">
            <b>Why do I get "read error -81" on the Homebrew Browser?</b>
        </p>
        <p>
            This is usually resolved after restarting the Wii console. If this keeps happening, double check the
            following:
            the SD card is not write-locked, you are using Open Shop Channel's copy of the Homebrew Browser, the server
            in
            the config is set to 0, and additionally check the Open Shop Channel twitter for any status updates or
            maintenance.
        </p>

        <p class="subtitle" style="margin-bottom: unset; margin-top: 1.5rem">
            <b>What happened to OSC on the Shop Channel?</b>
        </p>
        <p>
            We are actively working on it, and will announce more once we have more things to show.
        </p>

        <p class="subtitle" style="margin-bottom: unset; margin-top: 1.5rem">
            <b>Who should I contact for support?</b>
        </p>
        <p>
            You can hit us up on Twitter direct messages (<a href="https://twitter.com/openshopwii">@openshopwii</a>) or on our Discord in the appropriate channel.
            <b>Please do not contact RiiConnect24 support.</b>
        </p>
    </div>
    </p>

</div>
</section>
</body>
</html>
