<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Website Feedback - Open Shop Channel</title>
    {% include 'includes/header.html' %}
</head>
<body>
{% include 'includes/navigation.html' %}
{% include 'includes/alert.html' %}
<section class="section">
    <div class="container">
        <img src="/static/images/RainbowOpenLogo.png" alt="Open Shop Channel Logo" width="448" height="224">
        <h1 class="title">
            Website Feedback
        </h1>
        <form class="form-horizontal"
              action="https://send.pageclip.co/sWtBUu4SZLJoQxKnGucABeTxT4LGDqxh/betasite-feedback" method="post">
            <fieldset>

                <!-- Text input-->
                <div class="field">
                    <label class="label" for="email">Email</label>
                    <div class="control">
                        <input id="email" name="email" type="text" class="input ">
                        <p class="help">Optional</p>
                    </div>
                </div>

                <!-- Textarea -->
                <div class="field">
                    <label class="label" for="feedback">Feedback</label>
                    <div class="control">
                        <textarea class="textarea" id="feedback" name="feedback"></textarea>
                    </div>
                </div>


                <!-- Submit Button -->
                <div class="field">
                    <div class="control">
                        <button id="singlebutton-0" name="singlebutton-0" type="submit" class="button is-link">Send
                            Feedback
                        </button>
                    </div>
                </div>

            </fieldset>
        </form>

    </div>
</section>
<script src="https://s.pageclip.co/v1/pageclip.js" charset="utf-8"></script>
{% include 'includes/footer.html' %}
</body>
</html>
