<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Open Shop Channel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    {% include 'includes/retroheader.html' %}
</head>
<body>

{% include 'includes/retronavigation.html' %}
<div class="container">
    <div class="bs-component my-4">
        <h6>APRIL 1ST, 2023 NEWS: WELCOME TO OUR BRAND NEW WEBSITE!</h6>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <div class="bs-component">
                <div class="jumbotron">
                    <h3 style="white-space: pre;" class="hidden-mobile"><mark>{% include 'includes/logoascii.html' %}</mark></h3>
                    <hr class="my-4">
                    <h1>Open Shop Channel: Homebrew apps library for the Nintendo Wii.</h1>
                    <hr class="my-4">
                    <p>Welcome to the Open Shop Channel website, the official website of Open Shop Channel!</p>
                    <a class="btn btn-primary btn-lg" href="{{ url_for('apps') }}" role="button">Launch Online Library
                    </a>
                </div>
            </div>
            <div class="my-4">
                <h1 id="">HOW WOULD YOU LIKE TO USE THE OPEN SHOP CHANNEL?</h1>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="bs-component">
                        <div class="card mb-3">
                            <div class="card-header">Homebrew Browser</div>
                            <div class="card-body">
                                <h5 class="card-title">By teknecal</h5>
                                <h6 class="card-subtitle text-muted">for Wii</h6>
                            </div>
                            <div class="card-body">
                                <p class="card-text">Originally developed by <a
                                        href="https://wiibrew.org/wiki/User:Teknecal">teknecal</a>,
                                    the
                                    Homebrew Browser was an app repository for the Wii first released in
                                    June of 2008.
                                    <br><br>
                                    To make it usable 15 years later, we, the Open Shop Channel, modified it to connect
                                    to our
                                    servers. While showing its age in many places, it
                                    is still the most popular way to use the Open Shop Channel, because of the
                                    convenience of it
                                    running on the console itself.</p>
                            </div>
                            <div class="card-body">
                                <a href="https://wii.guide/assets/files/homebrew_browser_v0.3.9e.zip"
                                   class="btn btn-success">Get
                                    Homebrew Browser</a>
                                <a href="{{ url_for('help', article='hbb-install-guide') }}" class="card-link">HBB
                                    Install
                                    Guide</a>
                            </div>
                            <div class="card-footer text-muted">
                                Having trouble using the Homebrew Browser? Visit <a href="/help/welcome">Help &
                                Troubleshooting</a> or our <a href="https://discord.gg/osc">Discord server</a>.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="bs-component">
                        <div class="card mb-3">
                            <div class="card-header">OSCDL</div>
                            <div class="card-body">
                                <h5 class="card-title">By dhtdht020</h5>
                                <h6 class="card-subtitle text-muted">for Windows, Linux, macOS</h6>
                            </div>
                            <div class="card-body">
                                <p class="card-text">OSCDL is an open source and modern GUI desktop client for
                                    downloading apps
                                    from the Open Shop Channel, developed by
                                    <a href="https://github.com/dhtdht020">dhtdht020</a>, the lead maintainer of the
                                    Open Shop
                                    Channel project.
                                    <br><br>
                                    Using OSCDL, apps can be sent to the console over the internet with "Send to Wii" or
                                    over
                                    USBGecko.
                                    OSCDL is cross platform and is available for Windows, Linux, and macOS.</p>
                            </div>
                            <div class="card-body">
                                <a href="https://github.com/dhtdht020/osc-dl/releases" class="btn btn-success">Get
                                    OSCDL</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <h1 class="mt-0">Recommended Apps</h1>
            <div class="bs-component">
                <div class="list-group">
                    <a href="{{ url_for('application', pkg_type='app', name=package["internal_name"]) }}"
                       class="list-group-item list-group-item-action flex-column align-items-start active">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1 text-warning">APP OF THE DAY</h5>
                            <small>{{ package["release_date_formatted"] }}</small>
                        </div>
                        <p class="mb-1">
                            <mark>{{ package["display_name"] }}</mark>
                            by {{ package["coder"] }}</p>
                        <br>
                        <small>{{ package["short_description"] }}</small>
                    </a>
                    {% for category in newest_packages %}
                        <a href="{{ url_for('application', pkg_type='app', name=newest_packages[category]["internal_name"]) }}" class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">NEWEST IN {{ category.upper() }}</h5>
                                <small>{{ newest_packages[category]["release_date_formatted"] }}</small>
                            </div>
                            <p class="mb-1">
                                <mark>{{ newest_packages[category]["display_name"] }}</mark>
                                by {{ newest_packages[category]["coder"] }}</p>
                            <br>
                            <small class="text-muted">{{ newest_packages[category]["short_description"] }}</small>
                        </a>
                    {% endfor %}
                </div>
            </div>
            <h1>Social Media</h1>
            <div class="bs-component">
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Discord Server
                        <a href="https://discord.gg/osc" type="button" class="btn btn-outline-info">Join</a>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Twitter
                        <a href="https://twitter.com/openshopwii" type="button" class="btn btn-outline-info">Follow</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


</body>
</html>
{% include 'includes/retrofooter.html' %}
