<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Open Shop Channel</title>
    {% include 'includes/header.html' %}
    <script src="/static/ticker/ticker.js"></script>
    <link rel="stylesheet" href="/static/ticker/ticker.css">

    <noscript>
        <style>
            #ticker {
                display: none;
            }
        </style>
    </noscript>
</head>
<body>
{% include 'includes/navigation.html' %}
{% include 'includes/alert.html' %}
<div class="notification is-hidden-mobile" id="ticker"
     style="margin-bottom: unset; border-radius: unset; padding: 0.25rem 2.5rem 0.25rem 1.5rem;">
    <div class="columns is-vcentered">
        <div class="column">
            <div class="ticker-container">
                <ul>
                    {% for message in ticker %}
                        {% if message["first"] == True %}
                            <div>
                                <li><span
                                        class="ticker-item"><b><i class="fas {{ message["icon"] }}" aria-hidden="true"
                                                                  style="margin-right: .5em"></i>{{ message["title"] }}: </b>{{ message["content"] }} <a
                                        href="{{ message["link"]["address"] }}">{{ message["link"]["text"] }}</a></span>
                                </li>
                            </div>
                        {% endif %}
                    {% endfor %}
                    <div>
                        <li><span
                                class="ticker-item"><b><i class="fas fa-newspaper" aria-hidden="true"
                                                          style="margin-right: .5em"></i>Latest update / addition: </b>"{{ newest_packages["newest"]["display_name"] }} {{ newest_packages["newest"]["version"] }}" by {{ newest_packages["newest"]["coder"] }} - {{ date(newest_packages["newest"]["release_date"]) }} - {{ newest_packages["newest"]["short_description"] }} - <a
                                href="/library/app/{{ newest_packages["newest"]["internal_name"] }}">Download Now!</a></span>
                        </li>
                    </div>
                    {% if newest_packages["newest"]["category"] != "games" %}
                        <div>
                            <li><span
                                    class="ticker-item"><b><i class="fas fa-gamepad" aria-hidden="true"
                                                              style="margin-right: .5em"></i>Latest update in Games: </b>"{{ newest_packages["games"]["display_name"] }}" by {{ newest_packages["games"]["coder"] }} - Version {{ newest_packages["games"]["version"] }} - {{ date(newest_packages["games"]["release_date"]) }} - {{ newest_packages["games"]["short_description"] }} - <a
                                    href="/library/app/{{ newest_packages["games"]["internal_name"] }}">Download Now!</a></span>
                            </li>
                        </div>
                    {% endif %}
                    {% if newest_packages["newest"]["category"] != "utilities" %}
                        <div>
                            <li><span
                                    class="ticker-item"><b><i class="fas fa-cog" aria-hidden="true"
                                                              style="margin-right: .5em"></i>Latest update in Utilities: </b>"{{ newest_packages["utilities"]["display_name"] }}" by {{ newest_packages["utilities"]["coder"] }} - Version {{ newest_packages["utilities"]["version"] }} - {{ date(newest_packages["utilities"]["release_date"]) }} - {{ newest_packages["utilities"]["short_description"] }} - <a
                                    href="/library/app/{{ newest_packages["utilities"]["internal_name"] }}">Download Now!</a></span>
                            </li>
                        </div>
                    {% endif %}
                    {% if newest_packages["newest"]["category"] != "emulators" %}
                        <div>
                            <li><span
                                    class="ticker-item"><b><i class="fas fa-microchip" aria-hidden="true"
                                                              style="margin-right: .5em"></i>Latest update in Emulators: </b>"{{ newest_packages["emulators"]["display_name"] }}" by {{ newest_packages["emulators"]["coder"] }} - Version {{ newest_packages["emulators"]["version"] }} - {{ date(newest_packages["emulators"]["release_date"]) }} - {{ newest_packages["emulators"]["short_description"] }} - <a
                                    href="/library/app/{{ newest_packages["emulators"]["internal_name"] }}">Download Now!</a></span>
                            </li>
                        </div>
                    {% endif %}
                    <div>
                        <li><span
                                class="ticker-item"><b><i class="fas fa-star" aria-hidden="true"
                                                          style="margin-right: .5em"></i>App of the Day: </b> "{{ package["display_name"] }}" ({{ package["category"].capitalize() }}) by {{ package["coder"] }} - {{ package["short_description"] }} - <a
                                href="/library/app/{{ package["internal_name"] }}">Download Now!</a></span></li>
                    </div>
                    {% for message in ticker %}
                        {% if not message["first"] %}
                            <div>
                                <li><span
                                        class="ticker-item"><b><i class="fas {{ message["icon"] }}" aria-hidden="true"
                                                                  style="margin-right: .5em"></i>{{ message["title"] }}: </b>{{ message["content"] }} <a
                                        href="{{ message["link"]["address"] }}">{{ message["link"]["text"] }}</a></span>
                                </li>
                            </div>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
<section class="section">
    <div class="container">
        <div class="columns is-vcentered">
            <div class="column">
                <img src="/static/images/RainbowOpenLogo.png" alt="Open Shop Channel Logo" width="448" height="224">
            </div>
            <div class="column is-one-half is-hidden-mobile">
                <a href="/library/app/{{ package["internal_name"] }}">
                    <div class="card has-ribbon">
                        <div class="ribbon is-warning"><i class="fas fa-star" aria-hidden="true"
                                                          style="margin-right: .75em"></i> App of the Day
                        </div>
                        <div class="card-content" style="margin-top: 15px;">
                            <div class="media">
                                <div class="media-left">
                                    <figure class="image">
                                        <img src="{{ package["icon_url"] }}" alt="App Icon">
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <p class="title is-4">{{ package["display_name"] }}</p>
                                    <p class="subtitle is-6">Made by <b>{{ package["coder"] | truncate(25) }}</b></p>
                                </div>
                            </div>
                            <p>{% include "includes/categoryicon.html" %}{{ package["short_description"] }}</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <h1 class="title">
            Open Shop Channel
        </h1>
        <p class="subtitle">
            The Open Shop Channel is a homebrew apps library for the Nintendo Wii, providing services to more easily
            obtain and manage content.
        </p>
        <div class="buttons">
            <a class="button is-link is-large" href="https://wii.guide/assets/files/homebrew_browser_v0.3.9e.zip">Download
                Homebrew Browser</a>
            <a class="button is-dark is-large" href="https://github.com/dhtdht020/osc-dl/releases">Get Desktop Tool</a>
            <a class="button is-ghost is-large" href="https://wii.guide/hbb">HBB Install Guide</a>

        </div>
        <h1 class="title">
            We are also on Discord!
        </h1>
        <p class="subtitle">
            Get support and directly contact project maintainers by joining our Discord server!
        </p>
        <a class="button is-link is-medium" style="background-color: #5865F2" href="https://discord.gg/by6mR5N">Join our
            Discord Server</a>
    </div>
</section>
{% include 'includes/footer.html' %}
</body>
</html>
