<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Library - Open Shop Channel</title>
    {% include 'includes/header.html' %}
</head>
<body>
{% include 'includes/navigation.html' %}
{% include 'includes/alert.html' %}
<section class="section">
    <div class="container">
        <div class="tile is-ancestor">
            <div class="tile is-4 is-vertical is-parent">


                <nav class="panel">
                    <p class="panel-heading">
                        <span class="tag is-dark">Beta</span> Library - Page {{ page }}
                    </p>
                    <div class="panel-block">
                        <p class="control has-icons-left">
                            <input class="input" type="text" placeholder="Search" disabled>
                            <span class="icon is-left">
                                <i class="fas fa-search" aria-hidden="true"></i>
                            </span>
                        </p>
                    </div>
                    <a class="panel-block {% if request.args.get("repo") != 'themes' %}is-active{% endif %}"
                       href="{{ modify_query(repo="apps", p="1") }}">
                        <span class="panel-icon">
                            <i class="fas fa-server" aria-hidden="true"></i>
                        </span>
                        Open Shop Channel
                    </a>
                    <a class="panel-block {% if request.args.get("repo") == 'themes' %}is-active{% endif %}"
                       href="{{ modify_query(repo="themes", p="1") }}">
                        <span class="panel-icon">
                            <i class="fas fa-server" aria-hidden="true"></i>
                        </span>
                        Homebrew Channel Themes
                    </a>
                    {% if request.args.get("coder") %}
                        <div class="panel-block">
                            <span class="panel-icon">
                                <i class="fas fa-filter" aria-hidden="true"></i>
                            </span>
                            Filters:&nbsp
                            <div class="tags has-addons">
                                <span class="tag is-warning">Developer: {{ request.args.get("coder") }}</span>
                                <a class="tag is-delete" href="{{ modify_query(coder="") }}"></a>
                            </div>
                        </div>
                    {% endif %}
                    <div class="panel-block">
                        <a class="button is-link is-outlined is-fullwidth" href="/library">
                            Reset all filters
                        </a>
                    </div>
                </nav>


                <div class="tile is-child box" style="display: none;">
                </div>

            </div>
            <div class="tile is-parent">
                <div class="tile is-child">
                    <div class="notification is-link">
                        Want to send apps wirelessly to your Wii right from your computer, and browse homebrew channel
                        themes as well as secondary repositories? <b>Check out OSCDL <a
                            href="https://github.com/dhtdht020/osc-dl/releases">right here</a></b>.
                    </div>
                    {% include 'includes/pagination.html' %}
                    {% for package in packages %}
                        <div class="card mb-4">
                            <a href="/library/{{ type }}/{{ package["internal_name"] }}">
                                <header class="card-header">
                                    <p class="card-header-title">
                                        {{ package["display_name"] }}
                                    </p>
                                    <span style="float: right" class="card-header-icon">
                                    {{ package["version"] }}
                                    </span>
                                </header>
                                <div class="card-content">
                                    <div class="media">
                                        <div class="media-left">
                                            <figure class="image">
                                                <img src="{{ package["icon_url"] }}" alt="App Icon">
                                            </figure>
                                        </div>
                                        <div class="media-content">
                                            <p class="title is-4">{{ package["display_name"] }}</p>
                                            <p class="subtitle is-6">Made by <b>{{ package["coder"] }}</b></p>
                                            <p class="subtitle is-6">{{ package["short_description"] }}</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                    {% include 'includes/pagination.html' %}
                </div>
            </div>
        </div>
    </div>
</section>
{% include 'includes/footer.html' %}
</body>
</html>
