<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if request.args.get("coder") and results > 0 and request.args.get("coder") == packages[0]["coder"] %}
        <title>{{ request.args.get("coder") }}'s Developer Profile - Open Shop Channel</title>
    {% else %}
        <title>Library - Open Shop Channel</title>
    {% endif %}
    {% include 'includes/header.html' %}
    {% if request.args.get("coder") and results > 0 and request.args.get("coder") == packages[0]["coder"] %}
        <meta name="robots" content="index, follow">
    {% elif ( (request.args.get("p")) or (request.args.get("coder")) ) %}
        <meta name="robots" content="noindex">
    {% endif %}
</head>
<body>
{% include 'includes/navigation.html' %}
{% include 'includes/alert.html' %}
{% if request.args.get("coder") and results > 0 and request.args.get("coder") == packages[0]["coder"] %}
    <section class="hero is-info is-bold">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    <i class="fas fa-id-card fa-fw" aria-hidden="true" style="margin-right: 5px"></i>{{ request.args.get("coder") }}
                </h1>
                <h2 class="subtitle">
                    Developer Profile
                </h2>
            </div>
        </div>
    </section>
{% endif %}
<section class="section">
    <div class="container">
    {% if not request.args.get("coder") %}
        <div class="notification is-link">
            Want to send apps wirelessly to your Wii right from your computer, and browse homebrew channel
            themes as well as secondary repositories? <b>Check out OSCDL <a
                href="https://github.com/dhtdht020/osc-dl/releases">right here</a></b>.
        </div>
    {% endif %}
        <div class="tile is-ancestor">
            <div class="tile is-4 is-vertical is-parent">


                <nav class="panel">
                    <p class="panel-heading">
                        {% if request.args.get("coder") and results > 0 and request.args.get("coder") == packages[0]["coder"] %}
                            <i class="fas fa-id-card fa-fw" aria-hidden="true" style="margin-right: 5px"></i> {{ request.args.get("coder") }}'s Apps
                        {% else %}
                            <span class="tag is-dark">Beta</span> Online Library
                        {% endif %}
                    </p>
                    <div class="panel-block">
                        <p class="control has-icons-left">
                            <input class="input" type="text" placeholder="Search" disabled>
                            <span class="icon is-left">
                                <i class="fas fa-search" aria-hidden="true"></i>
                            </span>
                        </p>
                    </div>
                    {% if request.args.get("coder") %}
                        <div class="panel-block">
                            <span class="panel-icon">
                                <i class="fas fa-filter" aria-hidden="true"></i>
                            </span>
                            Filters:&nbsp
                            <div class="tags has-addons">
                                <span class="tag is-warning">Developer: {{ request.args.get("coder") }}</span>
                                <a class="tag is-delete" href="{{ modify_query(coder="") }}"></a>
                            </div>
                        </div>
                    {% endif %}
                    <div class="panel-block">
                        Repository:
                    </div>
                    <a class="panel-block {% if request.args.get("repo") != 'themes' %}is-active{% endif %}"
                       href="{{ modify_query(repo="apps", p="1", category="") }}">
                        <span class="panel-icon">
                            <i class="fas fa-server" aria-hidden="true"></i>
                        </span>
                        Open Shop Channel
                    </a>
                    <a class="panel-block {% if request.args.get("repo") == 'themes' %}is-active{% endif %}"
                       href="{{ modify_query(repo="themes", p="1", category="") }}">
                        <span class="panel-icon">
                            <i class="fas fa-server" aria-hidden="true"></i>
                        </span>
                        Homebrew Channel Themes
                    </a>
                    <div class="panel-block">
                        Category:
                    </div>
                    <a class="panel-block {% if not request.args.get("category") %}is-active{% endif %}"
                       href="{{ modify_query(category="", p="1") }}">
                        <span class="panel-icon">
                            <i class="fas fa-list" aria-hidden="true"></i>
                        </span>
                        All Apps
                    </a>
                    {% if request.args.get("repo") != 'themes' %}
                        <a class="panel-block {% if request.args.get("category") == 'utilities' %}is-active{% endif %}"
                           href="{{ modify_query(category="utilities", p="1") }}">
                        <span class="panel-icon">
                            <i class="fas fa-cog" aria-hidden="true"></i>
                        </span>
                            Utilities
                        </a>
                        <a class="panel-block {% if request.args.get("category") == 'emulators' %}is-active{% endif %}"
                           href="{{ modify_query(category="emulators", p="1") }}">
                        <span class="panel-icon">
                            <i class="fas fa-microchip" aria-hidden="true"></i>
                        </span>
                            Emulators
                        </a>
                        <a class="panel-block {% if request.args.get("category") == 'games' %}is-active{% endif %}"
                           href="{{ modify_query(category="games", p="1") }}">
                        <span class="panel-icon">
                            <i class="fas fa-gamepad" aria-hidden="true"></i>
                        </span>
                            Games
                        </a>
                        <a class="panel-block {% if request.args.get("category") == 'media' %}is-active{% endif %}"
                           href="{{ modify_query(category="media", p="1") }}">
                        <span class="panel-icon">
                            <i class="fas fa-photo-video" aria-hidden="true"></i>
                        </span>
                            Media
                        </a>
                        <a class="panel-block {% if request.args.get("category") == 'demos' %}is-active{% endif %}"
                           href="{{ modify_query(category="demos", p="1") }}">
                        <span class="panel-icon">
                            <i class="fas fa-vial" aria-hidden="true"></i>
                        </span>
                            Demos
                        </a>
                    {% endif %}
                    <div class="panel-block">
                        <a class="button is-link is-outlined is-fullwidth" href="/library">
                            Reset all filters
                        </a>
                    </div>
                </nav>
            </div>
            <div class="tile is-parent">
                <div class="tile is-child">
                    <div>
                        <div class="divider is-left" style="margin-top: unset;">Viewing results {{ page * 10 - 9 }}
                            - {% if page * 10 > results %}{{ results }}{% else %}{{ page * 10 }}{% endif %} out
                            of {{ results }} total results
                        </div>
                    </div>
                    {% include 'includes/pagination.html' %}
                    {% if results == 0 %}
                        <p class="subtitle is-4"><i class="fas fa-exclamation-triangle fa-fw" aria-hidden="true" style="margin-right: 5px"></i> There aren't any apps that much this criteria.</p>
                    {% endif %}
                    {% for package in packages %}
                        <div class="card mb-4">
                            <a href="/library/{{ type }}/{{ package["internal_name"] }}">
                                <header class="card-header">
                                    <p class="card-header-title">
                                        {% include "includes/categoryicon.html" %} {{ package["display_name"] }}
                                    </p>
                                    <span style="float: right" class="card-header-icon">
                                    {{ package["version"] }}
                                    </span>
                                </header>
                                <div class="card-content">
                                    <div class="media">
                                        <div class="media-left">
                                            <figure class="image">
                                                <img src="{{ package["icon_url"] }}" alt="App Icon">
                                            </figure>
                                        </div>
                                        <div class="media-content" style="overflow: hidden;">
                                            <p class="title is-4">{{ package["display_name"] }}</p>
                                            <p class="subtitle is-6">Made by <b>{{ package["coder"] }}</b></p>
                                            <p class="subtitle is-6">{{ package["short_description"] }}</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                    {% include 'includes/pagination.html' %}
                </div>
            </div>
        </div>
    </div>
</section>
{% include 'includes/footer.html' %}
</body>
</html>
