{% if request.args.get("coder") %}
    {% set devprofile = True %}
    {% set querystring = "?coder=" + request.args.get("coder") %}
{% endif %}

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if devprofile == True %}
        <title>{{ request.args.get("coder") }}'s Developer Profile - Open Shop Channel</title>
    {% else %}
        <title>Library - Open Shop Channel</title>
    {% endif %}
    {% include 'includes/header.html' %}
    <script src="/static/ticker/ticker.js"></script>
    <link rel="stylesheet" href="/static/ticker/ticker.css">
</head>
<body>
{% include 'includes/navigation.html' %}
{% include 'includes/alert.html' %}
<section class="section">
    <div class="container">
        {% if devprofile != True %}
            <div class="notification is-hidden-mobile" id="ticker"
                 style="padding: 0.25rem 2.5rem 0.25rem 1.5rem;">
                <div class="columns is-vcentered">
                    <div class="column">
                        <div class="ticker-container">
                            <ul>
                                <div>
                                    <li><span
                                            class="ticker-item"><b><i class="fas fa-gamepad" aria-hidden="true"
                                                                      style="margin-right: .5em"></i>Latest update in Games: </b>"{{ newest_packages["games"]["display_name"] }}" by {{ newest_packages["games"]["coder"] }} - Version {{ newest_packages["games"]["version"] }} - {{ date(newest_packages["games"]["release_date"]) }} - {{ newest_packages["games"]["short_description"] }} - <a
                                            href="/library/app/{{ newest_packages["games"]["internal_name"] }}">Download Now!</a></span>
                                    </li>
                                </div>
                                <div>
                                    <li><span
                                            class="ticker-item"><b><i class="fas fa-cog" aria-hidden="true"
                                                                      style="margin-right: .5em"></i>Latest update in Utilities: </b>"{{ newest_packages["utilities"]["display_name"] }}" by {{ newest_packages["utilities"]["coder"] }} - Version {{ newest_packages["utilities"]["version"] }} - {{ date(newest_packages["utilities"]["release_date"]) }} - {{ newest_packages["utilities"]["short_description"] }} - <a
                                            href="/library/app/{{ newest_packages["utilities"]["internal_name"] }}">Download Now!</a></span>
                                    </li>
                                </div>
                                <div>
                                    <li><span
                                            class="ticker-item"><b><i class="fas fa-microchip" aria-hidden="true"
                                                                      style="margin-right: .5em"></i>Latest update in Emulators: </b>"{{ newest_packages["emulators"]["display_name"] }}" by {{ newest_packages["emulators"]["coder"] }} - Version {{ newest_packages["emulators"]["version"] }} - {{ date(newest_packages["emulators"]["release_date"]) }} - {{ newest_packages["emulators"]["short_description"] }} - <a
                                            href="/library/app/{{ newest_packages["emulators"]["internal_name"] }}">Download Now!</a></span>
                                    </li>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        {% if devprofile == True %}
            <nav class="breadcrumb has-arrow-separator" aria-label="breadcrumbs">
                <ul>
                    <li><a href="/library">Library</a></li>
                    <li class="is-active"><a href="" aria-current="page">Developer
                        Profile: {{ request.args.get("coder") }}</a></li>
                </ul>
            </nav>
            <div class="notification is-info hero is-bold" style="margin-bottom: 10px;">
                <h1 class="title"><i class="fas fa-id-card fa-fw" aria-hidden="true"
                                     style="margin-right: 5px"></i>{{ request.args.get("coder") }}</h1>
                <h2 class="subtitle">Developer Profile</h2>
            </div>
        {% else %}
            <h1 class="title">Online Library <span class="tag is-success">New Library!</span></h1>
        {% endif %}
        <div id="AppsList"></div>
        <script type="text/javascript" charset="utf-8">
            webix.ready(function () {
                let repository_type = "app"
                webix.ui({
                    margin: 10,
                    container: "AppsList",
                    responsive: true,
                    rows: [
                        {
                            view: "toolbar",
                            borderless: false,
                            responsive: true,
                            cols: [
                                {
                                    view: "search",
                                    placeholder: "Search Applications..",
                                    id: "search",
                                    on: {
                                        "onTimedKeyPress": function () {
                                            // set category to disabled if search bar has text
                                            var value = this.getValue().toLowerCase();
                                            if (value) {
                                                $$("category").disable()
                                                $$("category").setValue("All Apps")
                                                $$("repository").disable()
                                            } else {
                                                $$("category").enable()
                                                $$("repository").enable()
                                            }
                                            $$("appsview").filter(function (obj) {
                                                return obj.display_name.toLowerCase().indexOf(value) != -1;
                                            })
                                        }
                                    },
                                    // properly scale search bar on mobile devices
                                    width: ($(window).width() < 480) ? $(window).width() - 54 : 300
                                },
                                {
                                    view: "combo",
                                    id: "category",
                                    hidden: ($(window).width() < 480),
                                    value: "All Apps",
                                    on: {
                                        "onChange": function (category) {
                                            if (category === "All Apps")
                                                category = ""
                                            else
                                                category = category.toLowerCase();

                                            $$("appsview").filter(function (obj) {
                                                return obj.category.toLowerCase().indexOf(category) != -1;
                                            })
                                        }
                                    },
                                    width: 200,
                                    options: ["All Apps", "Utilities", "Emulators", "Games", "Media", "Demos"]
                                },
                                {
                                    view: "combo",
                                    id: "repository",
                                    hidden: ($(window).width() < 480),
                                    {% if request.args.get("repo") == "themes" %}
                                        value: "Themes",
                                    {% else %}
                                        value: "Applications",
                                    {% endif %}
                                    on: {
                                        "onChange": function (repository) {
                                            $$("appsview").clearAll()
                                            $$("category").setValue("All Apps")
                                            switch (repository) {
                                                case "Applications":
                                                    $$("appsview").load("https://api.oscwii.org/v2/primary/packages{{ querystring }}")
                                                    repository_type = "app"
                                                    break;
                                                case "Themes":
                                                    $$("appsview").load("https://api.oscwii.org/v2/themes/packages{{ querystring }}")
                                                    repository_type = "theme"
                                                    break;
                                            }
                                            // sort appsview when ready
                                            $$("appsview").attachEvent("onAfterLoad", function () {
                                                $$("appsview").sort("display_name", "asc")
                                            })
                                        }
                                    },
                                    width: 200,
                                    options: ["Applications", "Themes"]
                                },
                                {},
                                {
                                    view: "template",
                                    id: "danbo_icon",
                                    css: "danbo_icon",
                                    hidden: ($(window).width() < 480),
                                    template: "<picture><source srcset='/static/images/danbobar-dark.png' media='(prefers-color-scheme: dark)'> <img src='/static/images/danbobar-light.png'></picture>",
                                    width: 140,
                                    borderless: true
                                },
                            ]
                        },
                        {
                            view: "dataview",
                            id: "appsview",
                            css: "cropped_text",
                            responsive: true,
                            scroll: false,
                            select: true,
                            template: function (obj) {
                                return "<div style='line-height:35px; height:42px; white-space:nowrap; overflow:hidden;'>" +
                                    "<i class='" + CategoryIcon(obj.category) + "' aria-hidden='true' style='margin-right: .75em'></i>"
                                    + obj.display_name + "</div>" +
                                    "<div style='float: left; height: 100%; margin-right: 10px;'>" +
                                    "<img src='" + obj.icon_url + "'></div>" +
                                    "<div><div>" + obj.short_description + "<br>By " + obj.coder + "<br></div></div>";
                            },
                            on: {
                                "onItemClick": function (id) {
                                    window.location = "/library/" + repository_type + "/" + this.getItem(id).internal_name;
                                }
                            },
                            type: {
                                height: 120,
                                width: 380,
                                type: "tiles",
                            },
                            borderless: false,
                            yCount: 8,
                            {% if request.args.get("repo") == "themes" %}
                                url: "https://api.oscwii.org/v2/themes/packages{{ querystring }}",
                            {% else %}
                                url: "https://api.oscwii.org/v2/primary/packages{{ querystring }}",
                            {% endif %}
                            ready: function () {
                                {% if request.args.get("repo") == "themes" %}
                                    repository_type = "theme"
                                {% endif %}
                                this.sort("display_name", "asc");
                            },
                            pager: "paginationbar"
                        },
                        {
                            view: "pager",
                            id: "paginationbar",
                            on: {
                                "onAfterPageChange": function () {
                                    // scroll page back up
                                    window.scrollTo(0, 0)
                                }
                            },
                            size: 24,
                            group: 4,
                            template: "{common.first()}{common.prev()}{common.pages()}{common.next()}{common.last()}"
                        }
                    ]
                });

                function CategoryIcon(category) {
                    switch (category) {
                        case "utilities":
                            return "fas fa-cog fa-fw"
                        case "emulators":
                            return "fas fa-microchip fa-fw"
                        case "games":
                            return "fas fa-gamepad fa-fw"
                        case "media":
                            return "fas fa-photo-video fa-fw"
                        case "demos":
                            return "fas fa-vial fa-fw"
                        default:
                            return "fas fa-question fa-fw"
                    }
                }
            });
        </script>
    </div>
</section>
{% include 'includes/footer.html' %}
</body>
</html>
