<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Open Shop Channel - New Library Beta</title>
    {% include 'includes/header.html' %}
</head>
<body>
{% include 'includes/navigation.html' %}
{% include 'includes/alert.html' %}
<section class="section">
    <div class="container">
        <h1 class="title">Online Library <span class="tag is-light">Beta</span></h1>
        <div id="AppsList"></div>
        <script type="text/javascript" charset="utf-8">
            webix.ready(function () {
                let repository_type = "app"
                webix.ui({
                    margin: 10,
                    container: "AppsList",
                    responsive: true,
                    rows: [
                        {
                            view: "toolbar",
                            borderless: false,
                            responsive: true,
                            cols: [
                                {
                                    view: "search",
                                    placeholder: "Search application...",
                                    id: "search",
                                    on: {
                                        "onTimedKeyPress": function () {
                                            // set category to disabled if search bar has text
                                            var value = this.getValue().toLowerCase();
                                            if (value)
                                            {
                                                $$("category").disable()
                                                $$("category").setValue("All Apps")
                                                $$("repository").disable()
                                            }
                                            else
                                            {
                                                $$("category").enable()
                                                $$("repository").enable()
                                            }
                                            $$("appsview").filter(function (obj) {
                                                return obj.display_name.toLowerCase().indexOf(value) != -1;
                                            })
                                        }
                                    },
                                    width: 300,
                                },
                                {
                                    view: "combo",
                                    id: "category",
                                    value: "All Apps",
                                    on: {
                                        "onChange": function (category) {
                                            if (category === "All Apps")
                                                category = ""
                                            else
                                                category = category.toLowerCase();

                                            $$("appsview").filter(function (obj) {
                                                return obj.category.toLowerCase().indexOf(category) != -1;
                                            })
                                        }
                                    },
                                    width: 200,
                                    options: ["All Apps", "Utilities", "Emulators", "Games", "Media", "Demos"]
                                },
                                {
                                    view: "combo",
                                    id: "repository",
                                    value: "Applications",
                                    on: {
                                        "onChange": function (repository) {
                                            $$("appsview").clearAll()
                                            switch (repository){
                                                case "Applications":
                                                    $$("appsview").load("https://api.oscwii.org/v2/primary/packages")
                                                    repository_type = "app"
                                                    break;
                                                case "Themes":
                                                    $$("appsview").load("https://api.oscwii.org/v2/themes/packages")
                                                    repository_type = "theme"
                                                    break;
                                            }
                                        }
                                    },
                                    width: 200,
                                    options: ["Applications", "Themes"]
                                },
                                {
                                    view: "button",
                                    id: "legacy_library_link",
                                    value: "Return to Legacy Library",
                                    css: "webix_primary",
                                    inputWidth: 200,
                                    align: "right",
                                    click: function () {
                                        window.location = "/library"
                                    }
                                }
                            ]
                        },
                        {
                            view: "dataview",
                            id: "appsview",
                            css: "cropped_text",
                            responsive: true,
                            scroll: false,
                            select: true,
                            template: function (obj) {
                                return "<div style='line-height:35px; height:42px; white-space:nowrap; overflow:hidden;'>" +
                                    "<i class='" + CategoryIcon(obj.category) + "' aria-hidden='true' style='margin-right: .75em'></i>"
                                    + obj.display_name + "</div>" +
                                    "<div style='float: left; height: 100%; margin-right: 10px;'>" +
                                    "<img src='" + obj.icon_url + "'></div>" +
                                    "<div><div>" + obj.short_description + "<br>By " + obj.coder + "<br></div></div>";
                            },
                            on: {
                                "onItemClick": function (id) {
                                    window.location = "/library/" + repository_type + "/" + this.getItem(id).internal_name;
                                }
                            },
                            type: {
                                height: 120,
                                width: 365,
                                type: "tiles",
                            },
                            borderless: false,
                            yCount: 8,
                            url: "https://api.oscwii.org/v2/primary/packages/",
                            pager: "paginationbar"
                        },
                        {
                            view: "pager",
                            id: "paginationbar",
                            on: {
                                "onAfterPageChange": function () {
                                    // scroll page back up
                                    window.scrollTo(0, 0)
                                }
                            },
                            size: 24,
                            group: 4,
                            template: "{common.first()}{common.prev()}{common.pages()}{common.next()}{common.last()}"
                        }
                    ]
                });

                function CategoryIcon(category) {
                    switch (category) {
                        case "utilities":
                            return "fas fa-cog fa-fw"
                        case "emulators":
                            return "fas fa-microchip fa-fw"
                        case "games":
                            return "fas fa-gamepad fa-fw"
                        case "media":
                            return "fas fa-photo-video fa-fw"
                        case "demos":
                            return "fas fa-vial fa-fw"
                        default:
                            return "fas fa-question fa-fw"
                    }
                }
            });
        </script>
    </div>
</section>
{% include 'includes/footer.html' %}
</body>
</html>
