[
  {
    "name": "NewYears2022",
    "startTime": 1640908800,
    "endTime": 1641168000,
    "announcementText": "Happy New Year's!",
    "announcementIcon": "fa-glass-cheers",
    "announcementColor": "#00C489",
    "logoSourceLight": "/static/images/event/logo/open-logo-2022.png",
    "logoSourceDark": "/static/images/event/logo/open-logo-2022.png"
  }
]
