<div class="notification is-danger bruh" style="margin-bottom: unset; border-radius: unset;">
    <span><marquee scrollamount="32"><b>!! BREAKING NEWS FOR APRIL 1ST, 2023 !!</b></marquee> HEY! I FORGOT TO UPDATE THIS PAGE BUT I THINK YOU SHOULD DEFINITELY CHECK OUT OPEN SHOP CHANNEL'S NEW WEB REVOLUTION! VISIT THE </span><b><a
        href="{{ url_for('home') }}">HOME PAGE</a></b> OR ANY OTHER PAGE ON THE WEBSITE!<marquee scrollamount="30"><b>!! BREAKING NEWS FOR APRIL 1ST, 2023 !!</b></marquee>
</div>
