<style>
    .bruh {
        display: flex;
        align-items: center;
    }
</style>

<div class="notification is-link is-light bruh" style="margin-bottom: unset; border-radius: unset;">
    <figure class="image is-32x32">
        <img style="vertical-align: middle" src="/static/images/aprilfools21/earth.gif">
    </figure>
    <span style="padding-left: 5px; padding-right: 5px">Open Shop Channel team is proud to announce the next revolution in web technology. </span><b><a
        href="/browser">Learn
    more</a></b>.
</div>
