
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <link rel="icon" type="image/png" href="/static/images/blacklogo.png" />

    <!--Core CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/bulma.min.css">

    <link rel="stylesheet" type="text/css" href="/static/css/bulma-prefers-dark.css">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">

    <!--JS -->
    <script src="/static/bulmajs/bulma.js"></script>

    <!-- General Meta tags for SEO -->
    <meta name="language" content="en">
    <meta name="title" content="Open Shop Channel">
	<meta name="author" content="Open Shop Channel">
	<meta name="copyright" content="© Open Shop Channel">
	<meta name="robots" content="index, follow">
	<meta name="subject" content="Wii Homebrew">
	<meta name="keywords" content="Wii, Homebrew, Shop, Browser">
	<meta name="description" content="We have revived the Homebrew Browser, an app to download homebrew on your Wii.">
	<meta name="classification" content="The Open Shop Channel is a revival project for the Homebrew Browser, an application to download homebrew apps on the Wii.">



