<!-- Required meta tags always come first -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">

<link rel="icon" type="image/png" href="/static/images/blacklogo.png"/>

<!--Core CSS -->
<link rel="stylesheet" type="text/css" href="/static/css/bulma.min.css">

<link rel="stylesheet" type="text/css" href="/static/css/bulma-timeline.min.css">

<link rel="stylesheet" type="text/css" href="/static/css/bulma-prefers-dark.css">

<link rel="stylesheet" type="text/css" href="/static/css/bulma-ribbon.min.css">

<link rel="stylesheet" type="text/css" href="/static/css/bulma-divider.min.css">

<link rel="stylesheet" href="/static/fa/css/all.min.css">

<!--JS -->
<script src="/static/bulmajs/bulma.js"></script>

<!-- General Meta tags for SEO -->
<meta name="language" content="en">
<meta name="title" content="Open Shop Channel">
<meta name="author" content="Open Shop Channel">
<meta name="copyright" content="© Open Shop Channel">
<meta name="robots" content="index, follow">
<meta name="subject" content="Wii Homebrew">
<meta name="keywords" content="Wii, Homebrew, Shop, Browser, OSC">
{% if request.endpoint == "application" %}
<meta name="description" content="Download {{ package["display_name"] }} from the Open Shop Channel applications repository. {{ package["long_description"] }}">
{% elif request.endpoint == "library" and request.args.get("coder") and results > 0 and request.args.get("coder") == packages[0]["coder"] %}
<meta name="description" content="Download and list apps made by {{ request.args.get("coder") }} from the Open Shop Channel applications repository.">
{% else %}
<meta name="description" content="Official website for the Open Shop Channel open source homebrew apps repository.">
{% endif %}
<meta name="classification" content="Official website for the Open Shop Channel open source homebrew apps repository.">



