<nav class="navbar has-shadow is-spaced" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <picture>
                <source srcset="/static/images/open-logo-dark.png" media="(prefers-color-scheme: dark)">
                <img src="/static/images/open-logo.png" width="92" height="28">
            </picture>
            <span class="tag is-light" style="display: none">Beta</span>
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/">
                Home
            </a>

            <a class="navbar-item" href="/library">
                Library
            </a>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    Documentation
                </a>

                <div class="navbar-dropdown">
                    <a class="navbar-item" href="https://api-docs.oscwii.org/">
                        API Documentation
                    </a>
                    <a class="navbar-item" href="https://wiishop-docs.oscwii.org/">
                        WSC Documentation
                    </a>
                </div>
            </div>
            <a class="navbar-item" href="/feedback">
                Feedback
            </a>
            <a class="navbar-item" href="/about">
                About
            </a>
            <a class="navbar-item" href="/donate">
                Donate
            </a>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-light" href="https://github.com/OpenShopChannel/">
                        GitHub
                    </a>
                    <a class="button is-light" style="background-color: #7289DA; color:white;"
                       href="https://discord.gg/by6mR5N">
                        Join our Discord!
                    </a>
                    <a class="button is-link" href="/publish">
                        <strong>Publish</strong>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>
