{% macro page(title, route) %}
    <a class="navbar-item{% if (request.endpoint == route) or (request.endpoint == "application" and route == "apps") %} is-active{% endif %}" href="{{ url_for(route) }}">
        {{ title }}
    </a>
{% endmacro %}
<nav class="navbar has-shadow is-spaced" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            {% if siteconfig.enable_events and events.is_event_running() %}
                {% with event = events.current_event() %}
                    <picture class="is-hidden-mobile">
                        <source srcset="{{ event["logoSourceDark"] }}" media="(prefers-color-scheme: dark)">
                        <img src="{{ event["logoSourceLight"] }}" height="28">
                    </picture>
                    <picture class="is-hidden-desktop">
                        <source srcset="/static/images/open-logo-dark.png" media="(prefers-color-scheme: dark)">
                        <img src="/static/images/open-logo.png" height="28">
                    </picture>
                {% endwith %}
            {% else %}
                <picture>
                    <source srcset="/static/images/open-logo-dark.png" media="(prefers-color-scheme: dark)">
                    <img src="/static/images/open-logo.png" height="28">
                </picture>
            {% endif %}
            <span class="tag is-light" style="display: none">Beta</span>
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            {{ page("Home", "home") }}
            {{ page("Library", "apps") }}

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    Docs
                </a>

                <div class="navbar-dropdown">
                    <a class="navbar-item" href="https://docs.oscwii.org/api/">
                        API Documentation
                    </a>
                    <a class="navbar-item" href="https://docs.oscwii.org/wii-shop-channel/">
                        WSC Documentation
                    </a>
                </div>
            </div>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    Tools
                </a>

                <div class="navbar-dropdown">
                    {{ page("meta.xml Generator", "metagen") }}
                </div>
            </div>
            <a class="navbar-item" href="https://github.com/OpenShopChannel/apps">
                Repository
            </a>
            {{ page("Donate", "donate") }}
            {{ page("Help", "help") }}
            {{ page("About", "about") }}
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-light is-hidden-widescreen-only is-hidden-desktop-only" style="background-color: #00ACEE; color:white;"
                       href="https://twitter.com/openshopwii">
                        <span class="icon">
                            <i class="fab fa-twitter"></i>
                        </span>
                        <span>Follow on Twitter!</span>
                    </a>
                    <a class="button is-light is-hidden-widescreen-only is-hidden-desktop-only" style="background-color: #5865F2; color:white;"
                       href="https://discord.gg/by6mR5N">
                        <span class="icon">
                            <i class="fab fa-discord"></i>
                        </span>
                        <span>Join our Discord!</span>
                    </a>
                    <a class="button is-light is-hidden-widescreen-only is-hidden-desktop-only" style="background-color: #333; color:white;"
                       href="https://github.com/OpenShopChannel">
                        <span class="icon">
                            <i class="fab fa-github"></i>
                        </span>
                        <span>GitHub</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>
{% if siteconfig.enable_events and events.is_event_running() %}
    {% with event = events.current_event() %}
        <div class="notification"
             style="margin-bottom: unset; border-radius: unset; padding: 0.25rem 2.5rem 0.25rem 1.5rem; text-align: center;">
            <strong {% if event["announcementColor"] %}style="color: {{ event["announcementColor"] }}"{% endif %}><i class="fas {{ event["announcementIcon"] }}" aria-hidden="true"
                       style="margin-right: .5em; margin-left: .5em"></i>{{ event["announcementText"] }}<i
                    class="fas {{ event["announcementIcon"] }}" aria-hidden="true"
                    style="margin-right: .5em; margin-left: .5em"></i></strong>
        </div>
    {% endwith %}
{% endif %}
