{% set remote_count = [] %}
{% for peripheral in package["peripherals"] %}
{% if peripheral == "Wii Remote" %}
{% set __ = remote_count.append(1) %}
{% endif %}
{% endfor %}
{% if "Wii Remote" in package["peripherals"] %}
<div style="max-height: 100px; margin-bottom: 0.5rem;">
        <article class="media">
            <div class="media-left">
                <figure class="image is-64x64">
                    <img src="/static/images/controllericon/{{ remote_count|length }}WiiRemote.png" alt="Wii Remote">
                </figure>
            </div>
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong>Wii Remote</strong>
                        <br>
                        <small>Can be used with a Wii Remote. Up to {{ remote_count|length }}.</small>
                    </p>
                </div>
            </div>
        </article>
    </div>
{% endif %}
{% if "Nunchuk" in package["peripherals"] %}
    <div style="max-height: 100px; margin-bottom: 0.5rem;">
        <article class="media">
            <div class="media-left">
                <figure class="image is-64x64">
                    <img src="/static/images/controllericon/Nunchuk.png" alt="Nunchuk">
                </figure>
            </div>
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong>Nunchuk</strong>
                        <br>
                        <small>Can be used with a Nunchuk.</small>
                    </p>
                </div>
            </div>
        </article>
    </div>
{% endif %}
{% if "Classic Controller" in package["peripherals"] %}
    <div style="max-height: 100px; margin-bottom: 0.5rem;">
        <article class="media">
            <div class="media-left">
                <figure class="image is-64x64">
                    <img src="/static/images/controllericon/ClassicController.png" alt="Classic Controller">
                </figure>
            </div>
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong>Classic Controller</strong>
                        <br>
                        <small>Can be used with a Classic Controller.</small>
                    </p>
                </div>
            </div>
        </article>
    </div>
{% endif %}
{% if "GameCube Controller" in package["peripherals"] %}
    <div style="max-height: 100px; margin-bottom: 0.5rem;">
        <article class="media">
            <div class="media-left">
                <figure class="image is-64x64">
                    <img src="/static/images/controllericon/GamecubeController.png" alt="Gamecube Controller">
                </figure>
            </div>
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong>GameCube Controller</strong>
                        <br>
                        <small>Can be used with a GameCube Controller.</small>
                    </p>
                </div>
            </div>
        </article>
    </div>
{% endif %}
{% if "Wii Zapper" in package["peripherals"] %}
    <div style="max-height: 100px; margin-bottom: 0.5rem;">
        <article class="media">
            <div class="media-left">
                <figure class="image is-64x64">
                    <img src="/static/images/controllericon/WiiZapper.png" alt="Wii Zapper">
                </figure>
            </div>
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong>Wii Zapper</strong>
                        <br>
                        <small>Can be used with a Wii Zapper.</small>
                    </p>
                </div>
            </div>
        </article>
    </div>
{% endif %}
{% if "USB Keyboard" in package["peripherals"] %}
    <div style="max-height: 100px; margin-bottom: 0.5rem;">
        <article class="media">
            <div class="media-left">
                <figure class="image is-64x64">
                    <img src="/static/images/controllericon/USBKeyboard.png" alt="USB Keyboard">
                </figure>
            </div>
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong>USB Keyboard</strong>
                        <br>
                        <small>Can be used with a USB Keyboard.</small>
                    </p>
                </div>
            </div>
        </article>
    </div>
{% endif %}
{% if "SDHC" in package["peripherals"] %}
    <div style="max-height: 100px; margin-bottom: 0.5rem;">
        <article class="media">
            <div class="media-left">
                <figure class="image is-64x64">
                    <img src="/static/images/controllericon/SDHC.png" alt="SDHC Card">
                </figure>
            </div>
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong>SDHC Card</strong>
                        <br>
                        <small>Supports SDHC cards.</small>
                    </p>
                </div>
            </div>
        </article>
    </div>
{% endif %}
