{% if "wwww" in package["controllers"] %}

    <p>
        <strong>4 Wii Remotes</strong>
        <br>
        <small>Can be used with up to 4 Wii Remotes.</small>
    </p>

{% elif "www" in package["controllers"] %}

    <p>
        <strong>3 Wii Remotes</strong>
        <br>
        <small>Can be used with up to 3 Wii Remotes.</small>
    </p>

{% elif "ww" in package["controllers"] %}

    <p>
        <strong>2 Wii Remotes</strong>
        <br>
        <small>Can be used with up to 2 Wii Remotes.</small>
    </p>

{% elif "w" in package["controllers"] %}

    <p>
        <strong>Wii Remote</strong>
        <br>
        <small>Can be used with a single Wii Remote.</small>
    </p>

{% endif %}
{% if "n" in package["controllers"] %}

    <p>
        <strong>Nunchuk</strong>
        <br>
        <small>Can be used with a Nunchuk.</small>
    </p>

{% endif %}
{% if "c" in package["controllers"] %}

    <p>
        <strong>Classic Controller</strong>
        <br>
        <small>Can be used with a Classic Controller.</small>
    </p>

{% endif %}
{% if "g" in package["controllers"] %}

    <p>
        <strong>GameCube Controller</strong>
        <br>
        <small>Can be used with a GameCube Controller.</small>
    </p>

{% endif %}
{% if "z" in package["controllers"] %}
    <p>
        <strong>Wii Zapper</strong>
        <br>
        <small>Can be used with a Wii Zapper.</small>
    </p>

{% endif %}
{% if "k" in package["controllers"] %}

    <p>
        <strong>USB Keyboard</strong>
        <br>
        <small>Can be used with a USB Keyboard.</small>
    </p>

{% endif %}
{% if "s" in package["controllers"] %}

    <p>
        <strong>SDHC Card</strong>
        <br>
        <small>Supports SDHC cards.</small>
    </p>

{% endif %}
