<p class="title">Peripherals</p>
{% if "wwww" in package["controllers"] %}
<div class="box" style="max-height: 100px; margin-bottom: 0.5rem;">
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        <img src="/static/images/controllericon/4WiiRemote.png" alt="Wii Remote">
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <strong>4 Wii Remotes</strong>
          <br>
            <small>Can be used with up to 4 Wii Remotes.</small>
        </p>
      </div>
    </div>
  </article>
</div>
{% elif "www" in package["controllers"]%}
<div class="box" style="max-height: 100px; margin-bottom: 0.5rem;">
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        <img src="/static/images/controllericon/3WiiRemote.png" alt="Wii Remote">
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <strong>3 Wii Remotes</strong>
          <br>
            <small>Can be used with up to 3 Wii Remotes.</small>
        </p>
      </div>
    </div>
  </article>
</div>
{% elif "ww" in package["controllers"]%}
<div class="box" style="max-height: 100px; margin-bottom: 0.5rem;">
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        <img src="/static/images/controllericon/2WiiRemote.png" alt="Wii Remote">
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <strong>2 Wii Remotes</strong>
          <br>
            <small>Can be used with up to 2 Wii Remotes.</small>
        </p>
      </div>
    </div>
  </article>
</div>
{% elif "w" in package["controllers"]%}
<div class="box" style="max-height: 100px; margin-bottom: 0.5rem;">
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        <img src="/static/images/controllericon/1WiiRemote.png" alt="Wii Remote">
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <strong>Wii Remote</strong>
          <br>
            <small>Can be used with a single Wii Remotes.</small>
        </p>
      </div>
    </div>
  </article>
</div>
{% endif %}
{% if "n" in package["controllers"] %}
<div class="box" style="max-height: 100px; margin-bottom: 0.5rem;">
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        <img src="/static/images/controllericon/Nunchuk.png" alt="Nunchuk">
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <strong>Nunchuk</strong>
          <br>
            <small>Can be used with a Nunchuk.</small>
        </p>
      </div>
    </div>
  </article>
</div>
{% endif %}
{% if "c" in package["controllers"] %}
<div class="box" style="max-height: 100px; margin-bottom: 0.5rem;">
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        <img src="/static/images/controllericon/ClassicController.png" alt="Classic Controller">
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <strong>Classic Controller</strong>
          <br>
            <small>Can be used with a Classic Controller.</small>
        </p>
      </div>
    </div>
  </article>
</div>
{% endif %}
{% if "g" in package["controllers"] %}
<div class="box" style="max-height: 100px; margin-bottom: 0.5rem;">
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        <img src="/static/images/controllericon/GamecubeController.png" alt="Gamecube Controller">
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <strong>Gamecube Controller</strong>
          <br>
            <small>Can be used with a Gamecube Controller.</small>
        </p>
      </div>
    </div>
  </article>
</div>
{% endif %}
{% if "z" in package["controllers"] %}
<div class="box" style="max-height: 100px; margin-bottom: 0.5rem;">
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        <img src="/static/images/controllericon/WiiZapper.png" alt="Wii Zapper">
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <strong>Wii Zapper</strong>
          <br>
            <small>Can be used with a Wii Zapper.</small>
        </p>
      </div>
    </div>
  </article>
</div>
{% endif %}
{% if "k" in package["controllers"] %}
<div class="box" style="max-height: 100px; margin-bottom: 0.5rem;">
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        <img src="/static/images/controllericon/USBKeyboard.png" alt="USB Keyboard">
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <strong>USB Keyboard</strong>
          <br>
            <small>Can be used with a USB Keyboard.</small>
        </p>
      </div>
    </div>
  </article>
</div>
{% endif %}
{% if "s" in package["controllers"] %}
<div class="box" style="max-height: 100px; margin-bottom: 0.5rem;">
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        <img src="/static/images/controllericon/SDHC.png" alt="SDHC Card">
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <strong>SDHC Card</strong>
          <br>
            <small>Supports SDHC cards.</small>
        </p>
      </div>
    </div>
  </article>
</div>
{% endif %}
